In [2]:
# Doesnt work!! 


# import pymongo

# client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
# mongo_db = client["Tweets_DB"]
# mongo_collection = mongo_db["Combined_Tweets"]

# for x in mongo_collection.find({},{ "_id": 0, "Hashtags(#)": 1, "Identity": "Akshay Kumar"}).limit(10):
#   print(x)
#     dict_result = x.to_dict()

In [15]:
# Set Up PyMongo
import pymongo
import pandas as pd
import numpy as np
from flask import jsonify

client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Combined_Tweets"]

# Define A Person to Query
# Searches for non-empty hashtag results 
QueryIdentity = "Jimmy Fallon"
testoutput =  mongo_collection.find( { "Identity": QueryIdentity, "Hashtags(#)": {"$ne" : '[]'} },{ "_id": 0, "Hashtags(#)": 1} ).limit(50)

test_df = pd.DataFrame(list(testoutput))
test_df.head(50)

                                          Hashtags(#)
0                              ['#ThereShouldBeALaw']
1                              ['#ThereShouldBeALaw']
2                              ['#happybirthdaylin"']
3                                            ['#40"']
4                                  ['#FallonTonight']
5                            ['#DumbestFamilyFight"']
6                            ['#DumbestFamilyFight.']
7                                 ['#FallonTonight"']
8                         ['#FallonTonight', '#NBC"']
9                                 ['#FallonTonight"']
10                        ['#RuinAMovieWithOneWord"']
11                        ['#RuinAMovieWithOneWord.']
12                 ['#CNNNYE', '#JäGer', '#imagine"']
13                      ['#CNNNYE', '#HappyNewYear"']
14                                 ['#FallonTonight']
15                                    ['#ThisIsBaby']
16                                           ['#SNL']
17      ['#HappyHolidays', '#GetTheF**kOutOfMyHouse']
18                                 ['#JonathanGroff']
19                                ['#FallonTonight"']
20              ['#InTheHeightsMovie', '#Summer2020']
21                                 ['#FallonTonight']
22                                ['#FallonTonight"']
23                                           ['#QLS']
24                                      ['#2019MAMA']
25            ['#TheSeriousGoose', '#GivingTuesday!']
26                                ['#FallonTonight"']
27                 ['#FallonTonight', '#PartyPatrol']
28      ['#HappyThanksgiving', '#FallonThanksgiving']
29  ['#MacysDayParade!', '#FallonThanksgiving', '#...
30              ['#babyyoda', '#FallonThanksgiving"']
31                           ['#FallonThanksgiving"']
32                           ['#FallonThanksgiving"']
33                           ['#FallonThanksgiving"']
34                           ['#FallonThanksgiving"']
35                           ['#FallonThanksgiving"']
36                           ['#FallonThanksgiving"']
37              ['#thankful', '#FallonThanksgiving"']
38                           ['#FallonThanksgiving"']
39    ['#FallonThanksGiving', '#ThanksGivingRuined"']
40                           ['#FallonThanksgiving"']
41                           ['#FallonThanksgiving"']
42                           ['#FallonThanksgiving"']
43                           ['#FallonThanksgiving"']
44                           ['#FallonThanksgiving"']
45          ['#HappyThanksgiving', '#FeedingAmerica']
46   ['#StarWars', '#ReyRapRecap', '#FallonTonight"']
47                          ['#TurkeyDayTraditions"']
48                          ['#TurkeyDayTraditions.']
49                                ['#AmericanUtopia']

In [6]:
eval(test_df['Hashtags(#)'][0])

['#ThereShouldBeALaw']

In [3]:
import numpy as np 
# [eval(x) for x in test_df["Hashtags(#)"]]
testarray = [eval(x) for x in test_df["Hashtags(#)"]]
testarray

[['#ThereShouldBeALaw'],
 ['#ThereShouldBeALaw'],
 ['#happybirthdaylin"'],
 ['#40"'],
 ['#FallonTonight'],
 ['#DumbestFamilyFight"'],
 ['#DumbestFamilyFight.'],
 ['#FallonTonight"'],
 ['#FallonTonight', '#NBC"'],
 ['#FallonTonight"'],
 ['#RuinAMovieWithOneWord"'],
 ['#RuinAMovieWithOneWord.'],
 ['#CNNNYE', '#JäGer', '#imagine"'],
 ['#CNNNYE', '#HappyNewYear"'],
 ['#FallonTonight'],
 ['#ThisIsBaby'],
 ['#SNL'],
 ['#HappyHolidays', '#GetTheF**kOutOfMyHouse'],
 ['#JonathanGroff'],
 ['#FallonTonight"'],
 ['#InTheHeightsMovie', '#Summer2020'],
 ['#FallonTonight'],
 ['#FallonTonight"'],
 ['#QLS'],
 ['#2019MAMA'],
 ['#TheSeriousGoose', '#GivingTuesday!'],
 ['#FallonTonight"'],
 ['#FallonTonight', '#PartyPatrol'],
 ['#HappyThanksgiving', '#FallonThanksgiving'],
 ['#MacysDayParade!', '#FallonThanksgiving', '#HappyThanksgiving"'],
 ['#babyyoda', '#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#thankful', '#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksGiving', '#ThanksGivingRuined"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#FallonThanksgiving"'],
 ['#HappyThanksgiving', '#FeedingAmerica'],
 ['#StarWars', '#ReyRapRecap', '#FallonTonight"'],
 ['#TurkeyDayTraditions"'],
 ['#TurkeyDayTraditions.'],
 ['#AmericanUtopia']]

In [7]:
flatten_list = []
for l1 in testarray:
    for l2 in l1:
        l2 = l2.replace('"','')
        flatten_list.append(l2)
        
flatten_list

NameError: name 'testarray' is not defined

In [ ]:
print(jsonify(test_df))

In [8]:
# Set up Pandas, Query Atlas for ALL results matching the twitter Identity 

identity_df = pd.DataFrame(list(mongo_collection.find({"Identity": QueryIdentity})))

In [9]:

identity_df

,_id,level_0,index,Tweet Id,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time,Identity
0,60be2af24a7a5d65a6b4f81c,54641,0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3132,236,-,-,2020-01-21,21:14:39,Jimmy Fallon
1,60be2af24a7a5d65a6b4f81d,54642,1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3255,207,-,-,2020-01-21,21:13:52,Jimmy Fallon
2,60be2af24a7a5d65a6b4f81e,54643,2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#happybirthdaylin""']",1,[],0,1825,51,-,-,2020-01-17,15:41:55,Jimmy Fallon
3,60be2af24a7a5d65a6b4f81f,54644,3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,9455,342,Image added,-,2020-01-17,15:36:57,Jimmy Fallon
4,60be2af24a7a5d65a6b4f820,54645,4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,['@peacockTV'],1,658,63,-,-,2020-01-16,22:30:57,Jimmy Fallon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3225,60be2af24a7a5d65a6b504b5,57866,3225,"""753569949671645184""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#FallonTonight""']",1,[],0,2110,563,-,-,2016-07-14,12:40:51,Jimmy Fallon
3226,60be2af24a7a5d65a6b504b6,57867,3226,"""753564046457274368""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#SnapchatDuet', '#IntoYou', '#FallonTonight""']",3,['@ArianaGrande'],1,17178,6546,-,-,2016-07-14,12:17:23,Jimmy Fallon
3227,60be2af24a7a5d65a6b504b7,57868,3227,"""753561347351248897""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,8778,1032,-,-,2016-07-14,12:06:40,Jimmy Fallon
3228,60be2af24a7a5d65a6b504b8,57869,3228,"""753561070304890880""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,1563,160,-,-,2016-07-14,12:05:34,Jimmy Fallon
3229,60be2af24a7a5d65a6b504b9,57870,3229,"""753397108997259265""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,2411,219,-,-,2016-07-14,01:14:02,Jimmy Fallon

In [10]:
identity_df['Time'] = pd.to_datetime(identity_df["Time"],format='%H:%M:%S')
# mega_df["Time"] = mega_df["Time"].dt.time
identity_df["Date"] = pd.to_datetime(identity_df["Date"],format="%Y-%M-%d")

In [11]:
identity_df.head()

,_id,level_0,index,Tweet Id,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time,Identity
0,60be2af24a7a5d65a6b4f81c,54641,0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3132,236,-,-,2020-01-21 00:01:00,1900-01-01 21:14:39,Jimmy Fallon
1,60be2af24a7a5d65a6b4f81d,54642,1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3255,207,-,-,2020-01-21 00:01:00,1900-01-01 21:13:52,Jimmy Fallon
2,60be2af24a7a5d65a6b4f81e,54643,2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#happybirthdaylin""']",1,[],0,1825,51,-,-,2020-01-17 00:01:00,1900-01-01 15:41:55,Jimmy Fallon
3,60be2af24a7a5d65a6b4f81f,54644,3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,9455,342,Image added,-,2020-01-17 00:01:00,1900-01-01 15:36:57,Jimmy Fallon
4,60be2af24a7a5d65a6b4f820,54645,4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,['@peacockTV'],1,658,63,-,-,2020-01-16 00:01:00,1900-01-01 22:30:57,Jimmy Fallon

In [16]:
identity_df.groupby(pd.Grouper(key='Date', freq='D'))
identity_df.sum()

SyntaxError: EOL while scanning string literal (<ipython-input-16-d208277961a7>, line 1)

In [23]:
identity_df.Date = pd.to_datetime(identity_df.Date)

df_2 = identity_df.groupby(identity_df.Date.dt.strftime('%Y-%d')).Likes.agg(['mean'])

In [24]:
df_2

                 mean
Date
2016-01   7222.312500
2016-02   3740.476190
2016-03   2195.473684
2016-04   6254.250000
2016-05   1960.800000
...               ...
2020-14    815.000000
2020-15   1328.000000
2020-16  11738.800000
2020-17   5640.000000
2020-21   3193.500000

[137 rows x 1 columns]

In [25]:
identity_df['month'] = pd.to_datetime(identity_df['Date']).dt.month
identity_df['year'] = pd.to_datetime(identity_df['Date']).dt.year
identity_df.groupby(['year','month'],as_index=False).mean()

   year  month  level_0   index   Total #   Total @        Likes     Retweets
0  2016      1  57708.5  3067.5  1.092593  1.330247  3052.688272   681.376543
1  2017      1  57099.0  2458.0  0.981006  1.287151  3892.875978   839.425698
2  2018      1  56084.0  1443.0  0.982379  1.066960  8478.614097  1953.110132
3  2019      1  55091.0   450.0  0.782609  1.203290  5580.162162  1040.495887
4  2020      1  54653.0    12.0  0.720000  0.520000  5470.680000   417.760000