##### ===================================================================================================================

#  Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/BBCTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220256711589683207""",https://twitter.com/bbcbreaking/status/1220256...,2020-01-23 08:07:25,"""Africa's richest woman, Angolan Isabel Dos Sa...",Tweet,SocialFlow,173,511,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected
1,"""1220221131795390472""",https://twitter.com/bbcbreaking/status/1220221...,2020-01-23 05:46:03,"""The crew of the large air tanker were helping...",Tweet,SocialFlow,316,727,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected
2,"""1220060752326905857""",https://twitter.com/bbcbreaking/status/1220060...,2020-01-22 19:08:45,"""Wuhan, a Chinese city of nearly 9m people, is...",Tweet,SocialFlow,2299,2815,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected
3,"""1219964102484905984""",https://twitter.com/bbcbreaking/status/1219964...,2020-01-22 12:44:42,"""Monty Python star Terry Jones has died at the...",Tweet,SocialFlow,4505,7144,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected
4,"""1219819207883415557""",https://twitter.com/bbcbreaking/status/1219819...,2020-01-22 03:08:56,"""The new virus could mutate and spread further...",Tweet,SocialFlow,1668,2017,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""908620348161216512""",https://twitter.com/bbcbreaking/status/9086203...,2017-09-15 09:15:47,"""Parsons Green tube explosion is being treated...",Reply,TweetDeck,1871,796,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected
3196,"""908607797150998528""",https://twitter.com/bbcbreaking/status/9086077...,2017-09-15 08:25:54,""".@sophieraworth saw woman taken to ambulance ...",Tweet,SnappyTV.com,2029,1467,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected
3197,"""908604541465018370""",https://twitter.com/bbcbreaking/status/9086045...,2017-09-15 08:12:58,"""""She says she saw people injured"" - Sophie Ra...",Tweet,SnappyTV.com,1852,945,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected
3198,"""908603688272502784""",https://twitter.com/bbcbreaking/status/9086036...,2017-09-15 08:09:34,"""Armed police and emergency services at London...",Reply,TweetDeck,1245,478,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected
3199,"""908597697166364673""",https://twitter.com/bbcbreaking/status/9085976...,2017-09-15 07:45:46,"""Officials investigating ""incident"" on Distric...",Tweet,SocialFlow,3333,1491,"""5402612""","""BBC Breaking News""",bbcbreaking,Verified,https://twitter.com/bbcbreaking,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220256711589683207""","""BBC Breaking News""",bbcbreaking,"""Africa's richest woman, Angolan Isabel Dos Sa...",173,511,2020-01-23 08:07:25
1,"""1220221131795390472""","""BBC Breaking News""",bbcbreaking,"""The crew of the large air tanker were helping...",316,727,2020-01-23 05:46:03
2,"""1220060752326905857""","""BBC Breaking News""",bbcbreaking,"""Wuhan, a Chinese city of nearly 9m people, is...",2299,2815,2020-01-22 19:08:45
3,"""1219964102484905984""","""BBC Breaking News""",bbcbreaking,"""Monty Python star Terry Jones has died at the...",4505,7144,2020-01-22 12:44:42
4,"""1219819207883415557""","""BBC Breaking News""",bbcbreaking,"""The new virus could mutate and spread further...",1668,2017,2020-01-22 03:08:56

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220256711589683207""","""BBC Breaking News""",bbcbreaking,"""Africa's richest woman, Angolan Isabel Dos Sa...",173,511,2020-01-23 08:07:25,[],[],0,0
1,"""1220221131795390472""","""BBC Breaking News""",bbcbreaking,"""The crew of the large air tanker were helping...",316,727,2020-01-23 05:46:03,[],[],0,0
2,"""1220060752326905857""","""BBC Breaking News""",bbcbreaking,"""Wuhan, a Chinese city of nearly 9m people, is...",2299,2815,2020-01-22 19:08:45,[],[],0,0
3,"""1219964102484905984""","""BBC Breaking News""",bbcbreaking,"""Monty Python star Terry Jones has died at the...",4505,7144,2020-01-22 12:44:42,[],[],0,0
4,"""1219819207883415557""","""BBC Breaking News""",bbcbreaking,"""The new virus could mutate and spread further...",1668,2017,2020-01-22 03:08:56,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""908620348161216512""","""BBC Breaking News""",bbcbreaking,"""Parsons Green tube explosion is being treated...",1871,796,2017-09-15 09:15:47,[],[],0,0
3196,"""908607797150998528""","""BBC Breaking News""",bbcbreaking,""".@sophieraworth saw woman taken to ambulance ...",2029,1467,2017-09-15 08:25:54,[@sophieraworth],[],0,1
3197,"""908604541465018370""","""BBC Breaking News""",bbcbreaking,"""""She says she saw people injured"" - Sophie Ra...",1852,945,2017-09-15 08:12:58,[],[],0,0
3198,"""908603688272502784""","""BBC Breaking News""",bbcbreaking,"""Armed police and emergency services at London...",1245,478,2017-09-15 08:09:34,[],[],0,0
3199,"""908597697166364673""","""BBC Breaking News""",bbcbreaking,"""Officials investigating ""incident"" on Distric...",3333,1491,2017-09-15 07:45:46,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220256711589683207""","""BBC Breaking News""",bbcbreaking,"""Africa's richest woman, Angolan Isabel Dos Sa...",173,511,[],[],0,0,2020-01-23,08:07:25
1,"""1220221131795390472""","""BBC Breaking News""",bbcbreaking,"""The crew of the large air tanker were helping...",316,727,[],[],0,0,2020-01-23,05:46:03
2,"""1220060752326905857""","""BBC Breaking News""",bbcbreaking,"""Wuhan, a Chinese city of nearly 9m people, is...",2299,2815,[],[],0,0,2020-01-22,19:08:45
3,"""1219964102484905984""","""BBC Breaking News""",bbcbreaking,"""Monty Python star Terry Jones has died at the...",4505,7144,[],[],0,0,2020-01-22,12:44:42
4,"""1219819207883415557""","""BBC Breaking News""",bbcbreaking,"""The new virus could mutate and spread further...",1668,2017,[],[],0,0,2020-01-22,03:08:56
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""908620348161216512""","""BBC Breaking News""",bbcbreaking,"""Parsons Green tube explosion is being treated...",1871,796,[],[],0,0,2017-09-15,09:15:47
3196,"""908607797150998528""","""BBC Breaking News""",bbcbreaking,""".@sophieraworth saw woman taken to ambulance ...",2029,1467,[@sophieraworth],[],0,1,2017-09-15,08:25:54
3197,"""908604541465018370""","""BBC Breaking News""",bbcbreaking,"""""She says she saw people injured"" - Sophie Ra...",1852,945,[],[],0,0,2017-09-15,08:12:58
3198,"""908603688272502784""","""BBC Breaking News""",bbcbreaking,"""Armed police and emergency services at London...",1245,478,[],[],0,0,2017-09-15,08:09:34
3199,"""908597697166364673""","""BBC Breaking News""",bbcbreaking,"""Officials investigating ""incident"" on Distric...",3333,1491,[],[],0,0,2017-09-15,07:45:46

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/BBCImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1218613949702209536""","""1218613802343682048""",https://pbs.twimg.com/media/EOliy_cVUAA_VDo.jpg,https://t.co/qvkVApiTJh
1,"""1211029051785261058""","""1211028805139206144""",https://pbs.twimg.com/media/EM5wSC8WkAAFMeO.jpg,https://t.co/6Z7gSQ23sd
2,"""1208346996551102466""","""1208346944818556930""",https://pbs.twimg.com/media/EMTpJOtWsAIAH5O.jpg,https://t.co/vrJiIlmP68
3,"""1208025761552187394""","""1208025577040621573""",https://pbs.twimg.com/media/EMPE3KcXsAUcaY3.jpg,https://t.co/pkHcFErFPe
4,"""1205373867545546752""","""1205373865767116800""",https://pbs.twimg.com/media/ELpZJQKWoAAUWGQ.jpg,https://t.co/nLzKfazleX
...,...,...,...,...
492,"""909987877630697472""","""909987784458465280""",https://pbs.twimg.com/media/DKDtEZKXcAAyRYN.jpg,https://t.co/dvitiDd7Qo
493,"""909886384613330944""","""909886382360932352""",https://pbs.twimg.com/media/DKCQ2A6WsAAPWci.jpg,https://t.co/rqPhsloyko
494,"""908630916649676800""","""908630477392707584""",https://pbs.twimg.com/media/DJwamuUWAAA-mu4.jpg,https://t.co/lsxYDMLId6
495,"""908620348161216512""","""908620333162356736""",https://pbs.twimg.com/media/DJwRYQHW4AAUrS0.jpg,https://t.co/1QpTvqES33
496,"""908603688272502784""","""908602953816305664""",https://pbs.twimg.com/media/DJwBkpAXcAA1BZK.jpg,https://t.co/nZqFpRrGwf

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (497, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (497, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                  Tweet Id       Images
0    "1218613949702209536"  Image added
1    "1211029051785261058"  Image added
2    "1208346996551102466"  Image added
3    "1208025761552187394"  Image added
4    "1205373867545546752"  Image added
..                     ...          ...
492   "909987877630697472"  Image added
493   "909886384613330944"  Image added
494   "908630916649676800"  Image added
495   "908620348161216512"  Image added
496   "908603688272502784"  Image added

[497 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220256711589683207""","""BBC Breaking News""",bbcbreaking,"""Africa's richest woman, Angolan Isabel Dos Sa...",173,511,[],[],0,0,2020-01-23,08:07:25,NaN
1,"""1220221131795390472""","""BBC Breaking News""",bbcbreaking,"""The crew of the large air tanker were helping...",316,727,[],[],0,0,2020-01-23,05:46:03,NaN
2,"""1220060752326905857""","""BBC Breaking News""",bbcbreaking,"""Wuhan, a Chinese city of nearly 9m people, is...",2299,2815,[],[],0,0,2020-01-22,19:08:45,NaN
3,"""1219964102484905984""","""BBC Breaking News""",bbcbreaking,"""Monty Python star Terry Jones has died at the...",4505,7144,[],[],0,0,2020-01-22,12:44:42,NaN
4,"""1219819207883415557""","""BBC Breaking News""",bbcbreaking,"""The new virus could mutate and spread further...",1668,2017,[],[],0,0,2020-01-22,03:08:56,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,"""908620348161216512""","""BBC Breaking News""",bbcbreaking,"""Parsons Green tube explosion is being treated...",1871,796,[],[],0,0,2017-09-15,09:15:47,Image added
3230,"""908607797150998528""","""BBC Breaking News""",bbcbreaking,""".@sophieraworth saw woman taken to ambulance ...",2029,1467,[@sophieraworth],[],0,1,2017-09-15,08:25:54,NaN
3231,"""908604541465018370""","""BBC Breaking News""",bbcbreaking,"""""She says she saw people injured"" - Sophie Ra...",1852,945,[],[],0,0,2017-09-15,08:12:58,NaN
3232,"""908603688272502784""","""BBC Breaking News""",bbcbreaking,"""Armed police and emergency services at London...",1245,478,[],[],0,0,2017-09-15,08:09:34,Image added
3233,"""908597697166364673""","""BBC Breaking News""",bbcbreaking,"""Officials investigating ""incident"" on Distric...",3333,1491,[],[],0,0,2017-09-15,07:45:46,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/BBCVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1215363546382467074""","""1215361305948905472""",https://video.twimg.com/amplify_video/12153613...,https://t.co/1ed5TfCa8D
1,"""1208034448438185984""","""1208034389701120001""",https://video.twimg.com/ext_tw_video/120803438...,https://t.co/AmVRck2946
2,"""1207622500571467777""","""1207622467935559680""",https://video.twimg.com/amplify_video/12076224...,https://t.co/C5Pg7dQnTH
3,"""1206319415127658498""","""1206319341563711488""",https://video.twimg.com/ext_tw_video/120631934...,https://t.co/JqIrHwiwR1
4,"""1205508976399400961""","""1205508917310017537""",https://video.twimg.com/amplify_video/12055089...,https://t.co/XKD6TJRrCh
...,...,...,...,...
265,"""908691532974141441""","""908691475512229888""",https://video.twimg.com/amplify_video/90869147...,https://t.co/hFJ6Iut2tJ
266,"""908689603611131906""","""908689450799992832""",https://video.twimg.com/amplify_video/90868945...,https://t.co/lLl2wRZsqZ
267,"""908643752100618240""","""908643596181504002""",https://video.twimg.com/amplify_video/90864359...,https://t.co/0SZrqYeGJ9
268,"""908607797150998528""","""908607715315933184""",https://video.twimg.com/amplify_video/90860771...,https://t.co/RvTnHq0T7E
269,"""908604541465018370""","""908604413614235648""",https://video.twimg.com/amplify_video/90860441...,https://t.co/ub0LKtsuNz

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (270, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (270, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1215363546382467074"  Video added
1    "1208034448438185984"  Video added
2    "1207622500571467777"  Video added
3    "1206319415127658498"  Video added
4    "1205508976399400961"  Video added
..                     ...          ...
265   "908691532974141441"  Video added
266   "908689603611131906"  Video added
267   "908643752100618240"  Video added
268   "908607797150998528"  Video added
269   "908604541465018370"  Video added

[270 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220256711589683207""","""BBC Breaking News""",bbcbreaking,"""Africa's richest woman, Angolan Isabel Dos Sa...",173,511,[],[],0,0,2020-01-23,08:07:25,NaN,NaN
1,"""1220221131795390472""","""BBC Breaking News""",bbcbreaking,"""The crew of the large air tanker were helping...",316,727,[],[],0,0,2020-01-23,05:46:03,NaN,NaN
2,"""1220060752326905857""","""BBC Breaking News""",bbcbreaking,"""Wuhan, a Chinese city of nearly 9m people, is...",2299,2815,[],[],0,0,2020-01-22,19:08:45,NaN,NaN
3,"""1219964102484905984""","""BBC Breaking News""",bbcbreaking,"""Monty Python star Terry Jones has died at the...",4505,7144,[],[],0,0,2020-01-22,12:44:42,NaN,NaN
4,"""1219819207883415557""","""BBC Breaking News""",bbcbreaking,"""The new virus could mutate and spread further...",1668,2017,[],[],0,0,2020-01-22,03:08:56,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,"""908620348161216512""","""BBC Breaking News""",bbcbreaking,"""Parsons Green tube explosion is being treated...",1871,796,[],[],0,0,2017-09-15,09:15:47,Image added,NaN
3230,"""908607797150998528""","""BBC Breaking News""",bbcbreaking,""".@sophieraworth saw woman taken to ambulance ...",2029,1467,[@sophieraworth],[],0,1,2017-09-15,08:25:54,NaN,Video added
3231,"""908604541465018370""","""BBC Breaking News""",bbcbreaking,"""""She says she saw people injured"" - Sophie Ra...",1852,945,[],[],0,0,2017-09-15,08:12:58,NaN,Video added
3232,"""908603688272502784""","""BBC Breaking News""",bbcbreaking,"""Armed police and emergency services at London...",1245,478,[],[],0,0,2017-09-15,08:09:34,Image added,NaN
3233,"""908597697166364673""","""BBC Breaking News""",bbcbreaking,"""Officials investigating ""incident"" on Distric...",3333,1491,[],[],0,0,2017-09-15,07:45:46,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Organisation"

#Create an Vocation column 
Tweets_df['Vocation'] = "News/Media"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3234, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220256711589683207""","""BBC Breaking News""",bbcbreaking,173,511,[],[],0,0,2020-01-23,08:07:25,-,-,Organisation,News/Media
1,"""1220221131795390472""","""BBC Breaking News""",bbcbreaking,316,727,[],[],0,0,2020-01-23,05:46:03,-,-,Organisation,News/Media
2,"""1220060752326905857""","""BBC Breaking News""",bbcbreaking,2299,2815,[],[],0,0,2020-01-22,19:08:45,-,-,Organisation,News/Media
3,"""1219964102484905984""","""BBC Breaking News""",bbcbreaking,4505,7144,[],[],0,0,2020-01-22,12:44:42,-,-,Organisation,News/Media
4,"""1219819207883415557""","""BBC Breaking News""",bbcbreaking,1668,2017,[],[],0,0,2020-01-22,03:08:56,-,-,Organisation,News/Media
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,"""908620348161216512""","""BBC Breaking News""",bbcbreaking,1871,796,[],[],0,0,2017-09-15,09:15:47,Image added,-,Organisation,News/Media
3230,"""908607797150998528""","""BBC Breaking News""",bbcbreaking,2029,1467,[@sophieraworth],[],0,1,2017-09-15,08:25:54,-,Video added,Organisation,News/Media
3231,"""908604541465018370""","""BBC Breaking News""",bbcbreaking,1852,945,[],[],0,0,2017-09-15,08:12:58,-,Video added,Organisation,News/Media
3232,"""908603688272502784""","""BBC Breaking News""",bbcbreaking,1245,478,[],[],0,0,2017-09-15,08:09:34,Image added,-,Organisation,News/Media
3233,"""908597697166364673""","""BBC Breaking News""",bbcbreaking,3333,1491,[],[],0,0,2017-09-15,07:45:46,-,-,Organisation,News/Media

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3234, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220256711589683207""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[],0,511,173,-,-,2020-01-23,08:07:25
"""1220221131795390472""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[],0,727,316,-,-,2020-01-23,05:46:03
"""1220060752326905857""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[],0,2815,2299,-,-,2020-01-22,19:08:45
"""1219964102484905984""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[],0,7144,4505,-,-,2020-01-22,12:44:42
"""1219819207883415557""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[],0,2017,1668,-,-,2020-01-22,03:08:56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""908620348161216512""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[],0,796,1871,Image added,-,2017-09-15,09:15:47
"""908607797150998528""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[@sophieraworth],1,1467,2029,-,Video added,2017-09-15,08:25:54
"""908604541465018370""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[],0,945,1852,-,Video added,2017-09-15,08:12:58
"""908603688272502784""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[],0,478,1245,Image added,-,2017-09-15,08:09:34
"""908597697166364673""","""BBC Breaking News""",bbcbreaking,Organisation,News/Media,[],0,[],0,1491,3333,-,-,2017-09-15,07:45:46

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/BBC_df.csv')