##### ===================================================================================================================

#  Britney Spears Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/BritneySpearsTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1197968678957936640""",https://twitter.com/britneythezone/status/1197...,2019-11-22 20:02:44,"""‚≠êÔ∏è CALLING. ALL. BRITNEY. FANS. ‚≠êÔ∏è We're doin...",Retweet,Twitter Web App,579,2793,"""1069680229860417536""","""BritneyTheZone""",britneythezone,Non-Verified,https://twitter.com/britneythezone,Not Protected
1,"""1190678187950379008""",https://twitter.com/britneyspears/status/11906...,2019-11-02 17:12:56,"""Coming soon !!!! üòúüòúüòú I can‚Äôt wait to see all ...",Tweet,Twitter for iPhone,1547,8522,"""16409683""","""Britney Spears""",britneyspears,Verified,https://twitter.com/britneyspears,Not Protected
2,"""1190364370540384257""",https://twitter.com/britneyspears/status/11903...,2019-11-01 20:25:56,"""OMG this looks so cool !!! I can‚Äôt wait to se...",Tweet,Twitter for iPhone,1590,10475,"""16409683""","""Britney Spears""",britneyspears,Verified,https://twitter.com/britneyspears,Not Protected
3,"""1190328050350620673""",https://twitter.com/britneythezone/status/1190...,2019-11-01 18:01:37,"""It's time to get in the zone üåü Tickets are on...",Retweet,Twitter Web App,391,1900,"""1069680229860417536""","""BritneyTheZone""",britneythezone,Non-Verified,https://twitter.com/britneythezone,Not Protected
4,"""1164720241777111040""",https://twitter.com/britneyspears/status/11647...,2019-08-23 02:05:19,"""The flowers outside my bookstore üå∏ https://t....",Tweet,Twitter for iPhone,2420,24871,"""16409683""","""Britney Spears""",britneyspears,Verified,https://twitter.com/britneyspears,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""354391865765801985""",https://twitter.com/britneyspears/status/35439...,2013-07-09 00:09:39,"""You learn something every day! Never knew @S_...",Tweet,Twitter Web Client,2729,2189,"""16409683""","""Britney Spears""",britneyspears,Verified,https://twitter.com/britneyspears,Not Protected
3196,"""354320286251884544""",https://twitter.com/s_c_/status/35432028625188...,2013-07-08 19:25:13,"""RT @KuntyeWest What's your favorite Britney S...",Retweet,Twitter Web Client,3173,2823,"""17560096""","""Mr. Carter""",s_c_,Verified,https://twitter.com/s_c_,Not Protected
3197,"""353689421851279360""",https://twitter.com/britneyspears/status/35368...,2013-07-07 01:38:24,"""100 Million views for ‚Äé#Womanizer :) My fans ...",Tweet,Twitter Web Client,3650,2748,"""16409683""","""Britney Spears""",britneyspears,Verified,https://twitter.com/britneyspears,Not Protected
3198,"""353627051439308800""",https://twitter.com/britneyspears/status/35362...,2013-07-06 21:30:33,"""My thoughts and prayers go out to everyone af...",Tweet,Twitter Web Client,3522,2015,"""16409683""","""Britney Spears""",britneyspears,Verified,https://twitter.com/britneyspears,Not Protected
3199,"""352869058959515648""",https://twitter.com/britneyspears/status/35286...,2013-07-04 19:18:34,"""Happy 4th of July! Hope all of u here in the ...",Tweet,Twitter Web Client,2817,2200,"""16409683""","""Britney Spears""",britneyspears,Verified,https://twitter.com/britneyspears,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1197968678957936640""","""BritneyTheZone""",britneythezone,"""‚≠êÔ∏è CALLING. ALL. BRITNEY. FANS. ‚≠êÔ∏è We're doin...",579,2793,2019-11-22 20:02:44
1,"""1190678187950379008""","""Britney Spears""",britneyspears,"""Coming soon !!!! üòúüòúüòú I can‚Äôt wait to see all ...",1547,8522,2019-11-02 17:12:56
2,"""1190364370540384257""","""Britney Spears""",britneyspears,"""OMG this looks so cool !!! I can‚Äôt wait to se...",1590,10475,2019-11-01 20:25:56
3,"""1190328050350620673""","""BritneyTheZone""",britneythezone,"""It's time to get in the zone üåü Tickets are on...",391,1900,2019-11-01 18:01:37
4,"""1164720241777111040""","""Britney Spears""",britneyspears,"""The flowers outside my bookstore üå∏ https://t....",2420,24871,2019-08-23 02:05:19

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1197968678957936640""","""BritneyTheZone""",britneythezone,"""‚≠êÔ∏è CALLING. ALL. BRITNEY. FANS. ‚≠êÔ∏è We're doin...",579,2793,2019-11-22 20:02:44,[],[],0,0
1,"""1190678187950379008""","""Britney Spears""",britneyspears,"""Coming soon !!!! üòúüòúüòú I can‚Äôt wait to see all ...",1547,8522,2019-11-02 17:12:56,[@britneythezone],[],0,1
2,"""1190364370540384257""","""Britney Spears""",britneyspears,"""OMG this looks so cool !!! I can‚Äôt wait to se...",1590,10475,2019-11-01 20:25:56,[],[],0,0
3,"""1190328050350620673""","""BritneyTheZone""",britneythezone,"""It's time to get in the zone üåü Tickets are on...",391,1900,2019-11-01 18:01:37,[],[],0,0
4,"""1164720241777111040""","""Britney Spears""",britneyspears,"""The flowers outside my bookstore üå∏ https://t....",2420,24871,2019-08-23 02:05:19,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""354391865765801985""","""Britney Spears""",britneyspears,"""You learn something every day! Never knew @S_...",2729,2189,2013-07-09 00:09:39,[@S_C_],[],0,1
3196,"""354320286251884544""","""Mr. Carter""",s_c_,"""RT @KuntyeWest What's your favorite Britney S...",3173,2823,2013-07-08 19:25:13,"[@KuntyeWest, @S_C_[Toxic..]",[],0,2
3197,"""353689421851279360""","""Britney Spears""",britneyspears,"""100 Million views for ‚Äé#Womanizer :) My fans ...",3650,2748,2013-07-07 01:38:24,[],"[#Womanizer, #swaggerofachampion,]",2,0
3198,"""353627051439308800""","""Britney Spears""",britneyspears,"""My thoughts and prayers go out to everyone af...",3522,2015,2013-07-06 21:30:33,[],[],0,0
3199,"""352869058959515648""","""Britney Spears""",britneyspears,"""Happy 4th of July! Hope all of u here in the ...",2817,2200,2013-07-04 19:18:34,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1197968678957936640""","""BritneyTheZone""",britneythezone,"""‚≠êÔ∏è CALLING. ALL. BRITNEY. FANS. ‚≠êÔ∏è We're doin...",579,2793,[],[],0,0,2019-11-22,20:02:44
1,"""1190678187950379008""","""Britney Spears""",britneyspears,"""Coming soon !!!! üòúüòúüòú I can‚Äôt wait to see all ...",1547,8522,[@britneythezone],[],0,1,2019-11-02,17:12:56
2,"""1190364370540384257""","""Britney Spears""",britneyspears,"""OMG this looks so cool !!! I can‚Äôt wait to se...",1590,10475,[],[],0,0,2019-11-01,20:25:56
3,"""1190328050350620673""","""BritneyTheZone""",britneythezone,"""It's time to get in the zone üåü Tickets are on...",391,1900,[],[],0,0,2019-11-01,18:01:37
4,"""1164720241777111040""","""Britney Spears""",britneyspears,"""The flowers outside my bookstore üå∏ https://t....",2420,24871,[],[],0,0,2019-08-23,02:05:19
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""354391865765801985""","""Britney Spears""",britneyspears,"""You learn something every day! Never knew @S_...",2729,2189,[@S_C_],[],0,1,2013-07-09,00:09:39
3196,"""354320286251884544""","""Mr. Carter""",s_c_,"""RT @KuntyeWest What's your favorite Britney S...",3173,2823,"[@KuntyeWest, @S_C_[Toxic..]",[],0,2,2013-07-08,19:25:13
3197,"""353689421851279360""","""Britney Spears""",britneyspears,"""100 Million views for ‚Äé#Womanizer :) My fans ...",3650,2748,[],"[#Womanizer, #swaggerofachampion,]",2,0,2013-07-07,01:38:24
3198,"""353627051439308800""","""Britney Spears""",britneyspears,"""My thoughts and prayers go out to everyone af...",3522,2015,[],[],0,0,2013-07-06,21:30:33
3199,"""352869058959515648""","""Britney Spears""",britneyspears,"""Happy 4th of July! Hope all of u here in the ...",2817,2200,[],[],0,0,2013-07-04,19:18:34

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/BritneySpearsImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1190364370540384257""","""1190364366840971264""",https://pbs.twimg.com/media/EIUGFbbWwAAC5cb.jpg,https://t.co/tTjyo27sKw
1,"""1190328050350620673""","""1190328039676231686""",https://pbs.twimg.com/media/EITlC6MWwAYjBcW.jpg,https://t.co/QtTf8rxcWE
2,"""1164720241777111040""","""1164720235615641600""",https://pbs.twimg.com/media/ECnq4iKUYAA4UoE.jpg,https://t.co/MXKwFXndjc
3,"""1164720241777111040""","""1164720235628224514""",https://pbs.twimg.com/media/ECnq4iNUYAITbRL.jpg,https://t.co/MXKwFXndjc
4,"""1124474687461806080""","""1124474597749870592""",https://pbs.twimg.com/media/D5rvsF3U0AAgTZu.jpg,https://t.co/7sYqcr3wKc
...,...,...,...,...
1062,"""378204410217648128""","""378204410221842432""",https://pbs.twimg.com/media/BT-m6EPCUAAPvJg.jpg,http://t.co/iRrigXVuQy
1063,"""376846154090045440""","""376846154094239744""",https://pbs.twimg.com/media/BTrTlJ3CYAAGf9D.jpg,http://t.co/pxLgSm6hif
1064,"""362025979314577408""","""361965821410541569""",https://pbs.twimg.com/media/BQX1_y4CAAEm6eG.jpg,http://t.co/8NwgIQNI5d
1065,"""361588368674537472""","""361588368678731779""",https://pbs.twimg.com/media/BQSetJ4CQAMzH2E.jpg,http://t.co/ksyZuuNBV5
1066,"""361541285296881664""","""361541285305270272""",https://pbs.twimg.com/media/BQRz4ipCQAAckIn.jpg,http://t.co/OMbqhp33Pc

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1067, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

The dataframes 'shape' is represented as: (1067, 2)

In [16]:
#Print the dataframe
Images_df

                   Tweet Id       Images
0     "1190364370540384257"  Image added
1     "1190328050350620673"  Image added
2     "1164720241777111040"  Image added
3     "1164720241777111040"  Image added
4     "1124474687461806080"  Image added
...                     ...          ...
1062   "378204410217648128"  Image added
1063   "376846154090045440"  Image added
1064   "362025979314577408"  Image added
1065   "361588368674537472"  Image added
1066   "361541285296881664"  Image added

[1067 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1197968678957936640""","""BritneyTheZone""",britneythezone,"""‚≠êÔ∏è CALLING. ALL. BRITNEY. FANS. ‚≠êÔ∏è We're doin...",579,2793,[],[],0,0,2019-11-22,20:02:44,NaN
1,"""1190678187950379008""","""Britney Spears""",britneyspears,"""Coming soon !!!! üòúüòúüòú I can‚Äôt wait to see all ...",1547,8522,[@britneythezone],[],0,1,2019-11-02,17:12:56,NaN
2,"""1190364370540384257""","""Britney Spears""",britneyspears,"""OMG this looks so cool !!! I can‚Äôt wait to se...",1590,10475,[],[],0,0,2019-11-01,20:25:56,Image added
3,"""1190328050350620673""","""BritneyTheZone""",britneythezone,"""It's time to get in the zone üåü Tickets are on...",391,1900,[],[],0,0,2019-11-01,18:01:37,Image added
4,"""1164720241777111040""","""Britney Spears""",britneyspears,"""The flowers outside my bookstore üå∏ https://t....",2420,24871,[],[],0,0,2019-08-23,02:05:19,Image added
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,"""354391865765801985""","""Britney Spears""",britneyspears,"""You learn something every day! Never knew @S_...",2729,2189,[@S_C_],[],0,1,2013-07-09,00:09:39,NaN
3332,"""354320286251884544""","""Mr. Carter""",s_c_,"""RT @KuntyeWest What's your favorite Britney S...",3173,2823,"[@KuntyeWest, @S_C_[Toxic..]",[],0,2,2013-07-08,19:25:13,NaN
3333,"""353689421851279360""","""Britney Spears""",britneyspears,"""100 Million views for ‚Äé#Womanizer :) My fans ...",3650,2748,[],"[#Womanizer, #swaggerofachampion,]",2,0,2013-07-07,01:38:24,NaN
3334,"""353627051439308800""","""Britney Spears""",britneyspears,"""My thoughts and prayers go out to everyone af...",3522,2015,[],[],0,0,2013-07-06,21:30:33,NaN
3335,"""352869058959515648""","""Britney Spears""",britneyspears,"""Happy 4th of July! Hope all of u here in the ...",2817,2200,[],[],0,0,2013-07-04,19:18:34,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/BritneySpearsVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1197968678957936640""","""1197968321540313088""",https://video.twimg.com/ext_tw_video/119796832...,https://t.co/IIPoosPgF6
1,"""1190678187950379008""","""1190678091540172800""",https://video.twimg.com/ext_tw_video/119067809...,https://t.co/AaLCuTL6J9
2,"""1079415903115268096""","""1079415861243461632""",https://video.twimg.com/tweet_video/DvrbAb5WwA...,https://t.co/dSOtVix1gl
3,"""1076172089344839680""","""1076172052963373058""",https://video.twimg.com/ext_tw_video/107617205...,https://t.co/pKN5mQw4qN
4,"""1075570304519467009""","""1075570193169047552""",https://video.twimg.com/ext_tw_video/107557019...,https://t.co/5zI7HAn8Mw
...,...,...,...,...
286,"""581606660445179905""","""581606659182735360""",https://video.twimg.com/tweet_video/CBJILM-WsA...,http://t.co/5y58azYZqC
287,"""573723152909381633""","""573723088610680834""",https://video.twimg.com/ext_tw_video/573723088...,http://t.co/5fDMYW190r
288,"""527936271717371904""","""527936269582491648""",https://video.twimg.com/tweet_video/B1ObPXSCYA...,http://t.co/y8B2oqiPpX
289,"""516940963080835072""","""516940961952587776""",https://video.twimg.com/tweet_video/ByyLEOcIYA...,http://t.co/UQ4GW3FKIx
290,"""496427231565320193""","""496427229082288128""",https://video.twimg.com/tweet_video/BuOp70ZIAA...,http://t.co/uQIn7Ximqx

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (291, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (291, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1197968678957936640"  Video added
1    "1190678187950379008"  Video added
2    "1079415903115268096"  Video added
3    "1076172089344839680"  Video added
4    "1075570304519467009"  Video added
..                     ...          ...
286   "581606660445179905"  Video added
287   "573723152909381633"  Video added
288   "527936271717371904"  Video added
289   "516940963080835072"  Video added
290   "496427231565320193"  Video added

[291 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1197968678957936640""","""BritneyTheZone""",britneythezone,"""‚≠êÔ∏è CALLING. ALL. BRITNEY. FANS. ‚≠êÔ∏è We're doin...",579,2793,[],[],0,0,2019-11-22,20:02:44,NaN,Video added
1,"""1190678187950379008""","""Britney Spears""",britneyspears,"""Coming soon !!!! üòúüòúüòú I can‚Äôt wait to see all ...",1547,8522,[@britneythezone],[],0,1,2019-11-02,17:12:56,NaN,Video added
2,"""1190364370540384257""","""Britney Spears""",britneyspears,"""OMG this looks so cool !!! I can‚Äôt wait to se...",1590,10475,[],[],0,0,2019-11-01,20:25:56,Image added,NaN
3,"""1190328050350620673""","""BritneyTheZone""",britneythezone,"""It's time to get in the zone üåü Tickets are on...",391,1900,[],[],0,0,2019-11-01,18:01:37,Image added,NaN
4,"""1164720241777111040""","""Britney Spears""",britneyspears,"""The flowers outside my bookstore üå∏ https://t....",2420,24871,[],[],0,0,2019-08-23,02:05:19,Image added,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,"""354391865765801985""","""Britney Spears""",britneyspears,"""You learn something every day! Never knew @S_...",2729,2189,[@S_C_],[],0,1,2013-07-09,00:09:39,NaN,NaN
3332,"""354320286251884544""","""Mr. Carter""",s_c_,"""RT @KuntyeWest What's your favorite Britney S...",3173,2823,"[@KuntyeWest, @S_C_[Toxic..]",[],0,2,2013-07-08,19:25:13,NaN,NaN
3333,"""353689421851279360""","""Britney Spears""",britneyspears,"""100 Million views for ‚Äé#Womanizer :) My fans ...",3650,2748,[],"[#Womanizer, #swaggerofachampion,]",2,0,2013-07-07,01:38:24,NaN,NaN
3334,"""353627051439308800""","""Britney Spears""",britneyspears,"""My thoughts and prayers go out to everyone af...",3522,2015,[],[],0,0,2013-07-06,21:30:33,NaN,NaN
3335,"""352869058959515648""","""Britney Spears""",britneyspears,"""Happy 4th of July! Hope all of u here in the ...",2817,2200,[],[],0,0,2013-07-04,19:18:34,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Female"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3336, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1197968678957936640""","""BritneyTheZone""",britneythezone,579,2793,[],[],0,0,2019-11-22,20:02:44,-,Video added,Female,Music
1,"""1190678187950379008""","""Britney Spears""",britneyspears,1547,8522,[@britneythezone],[],0,1,2019-11-02,17:12:56,-,Video added,Female,Music
2,"""1190364370540384257""","""Britney Spears""",britneyspears,1590,10475,[],[],0,0,2019-11-01,20:25:56,Image added,-,Female,Music
3,"""1190328050350620673""","""BritneyTheZone""",britneythezone,391,1900,[],[],0,0,2019-11-01,18:01:37,Image added,-,Female,Music
4,"""1164720241777111040""","""Britney Spears""",britneyspears,2420,24871,[],[],0,0,2019-08-23,02:05:19,Image added,-,Female,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,"""354391865765801985""","""Britney Spears""",britneyspears,2729,2189,[@S_C_],[],0,1,2013-07-09,00:09:39,-,-,Female,Music
3332,"""354320286251884544""","""Mr. Carter""",s_c_,3173,2823,"[@KuntyeWest, @S_C_[Toxic..]",[],0,2,2013-07-08,19:25:13,-,-,Female,Music
3333,"""353689421851279360""","""Britney Spears""",britneyspears,3650,2748,[],"[#Womanizer, #swaggerofachampion,]",2,0,2013-07-07,01:38:24,-,-,Female,Music
3334,"""353627051439308800""","""Britney Spears""",britneyspears,3522,2015,[],[],0,0,2013-07-06,21:30:33,-,-,Female,Music
3335,"""352869058959515648""","""Britney Spears""",britneyspears,2817,2200,[],[],0,0,2013-07-04,19:18:34,-,-,Female,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3336, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1197968678957936640""","""BritneyTheZone""",britneythezone,Female,Music,[],0,[],0,2793,579,-,Video added,2019-11-22,20:02:44
"""1190678187950379008""","""Britney Spears""",britneyspears,Female,Music,[],0,[@britneythezone],1,8522,1547,-,Video added,2019-11-02,17:12:56
"""1190364370540384257""","""Britney Spears""",britneyspears,Female,Music,[],0,[],0,10475,1590,Image added,-,2019-11-01,20:25:56
"""1190328050350620673""","""BritneyTheZone""",britneythezone,Female,Music,[],0,[],0,1900,391,Image added,-,2019-11-01,18:01:37
"""1164720241777111040""","""Britney Spears""",britneyspears,Female,Music,[],0,[],0,24871,2420,Image added,-,2019-08-23,02:05:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""354391865765801985""","""Britney Spears""",britneyspears,Female,Music,[],0,[@S_C_],1,2189,2729,-,-,2013-07-09,00:09:39
"""354320286251884544""","""Mr. Carter""",s_c_,Female,Music,[],0,"[@KuntyeWest, @S_C_[Toxic..]",2,2823,3173,-,-,2013-07-08,19:25:13
"""353689421851279360""","""Britney Spears""",britneyspears,Female,Music,"[#Womanizer, #swaggerofachampion,]",2,[],0,2748,3650,-,-,2013-07-07,01:38:24
"""353627051439308800""","""Britney Spears""",britneyspears,Female,Music,[],0,[],0,2015,3522,-,-,2013-07-06,21:30:33
"""352869058959515648""","""Britney Spears""",britneyspears,Female,Music,[],0,[],0,2200,2817,-,-,2013-07-04,19:18:34

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/BritneySpears_df.csv')