##### ===================================================================================================================

#  CNN Breaking News Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/CNNBreakingTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220182010972557313""",https://twitter.com/cnnbrk/status/122018201097...,2020-01-23 03:10:35,"""At least one person was killed and several ot...",Tweet,TweetDeck,354,534,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected
1,"""1220152440315613185""",https://twitter.com/cnnbrk/status/122015244031...,2020-01-23 01:13:05,"""Another inmate has died at Mississippi's Parc...",Tweet,TweetDeck,162,281,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected
2,"""1220133332702375937""",https://twitter.com/cnnbrk/status/122013333270...,2020-01-22 23:57:10,"""Eli Manning, quarterback for the New York Gia...",Tweet,TweetDeck,199,1067,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected
3,"""1220108211191209984""",https://twitter.com/cnnbrk/status/122010821119...,2020-01-22 22:17:20,"""Rapper and singer Juice WRLD died from an acc...",Tweet,TweetDeck,329,923,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected
4,"""1220107262741618688""",https://twitter.com/cnnbrk/status/122010726274...,2020-01-22 22:13:34,"""Four people were killed when a small plane cr...",Tweet,TweetDeck,76,146,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1126953520912109570""",https://twitter.com/cnnbrk/status/112695352091...,2019-05-10 20:53:51,"""At least three people are unaccounted for aft...",Tweet,TweetDeck,73,130,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected
3196,"""1126950351607930880""",https://twitter.com/cnnbrk/status/112695035160...,2019-05-10 20:41:16,"""The House Ways and Means committee issues sub...",Tweet,TweetDeck,237,1181,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected
3197,"""1126924899082174466""",https://twitter.com/cnnbrk/status/112692489908...,2019-05-10 19:00:07,"""House Judiciary Chairman Jerry Nadler says Ro...",Tweet,TweetDeck,97,222,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected
3198,"""1126904568556740610""",https://twitter.com/cnnbrk/status/112690456855...,2019-05-10 17:39:20,"""The latest round of US-China trade talks ends...",Tweet,TweetDeck,77,164,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected
3199,"""1126897568154300416""",https://twitter.com/cnnbrk/status/112689756815...,2019-05-10 17:11:31,"""The State Department says Secretary Pompeo wi...",Tweet,TweetDeck,101,219,"""428333""","""CNN Breaking News""",cnnbrk,Verified,https://twitter.com/cnnbrk,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220182010972557313""","""CNN Breaking News""",cnnbrk,"""At least one person was killed and several ot...",354,534,2020-01-23 03:10:35
1,"""1220152440315613185""","""CNN Breaking News""",cnnbrk,"""Another inmate has died at Mississippi's Parc...",162,281,2020-01-23 01:13:05
2,"""1220133332702375937""","""CNN Breaking News""",cnnbrk,"""Eli Manning, quarterback for the New York Gia...",199,1067,2020-01-22 23:57:10
3,"""1220108211191209984""","""CNN Breaking News""",cnnbrk,"""Rapper and singer Juice WRLD died from an acc...",329,923,2020-01-22 22:17:20
4,"""1220107262741618688""","""CNN Breaking News""",cnnbrk,"""Four people were killed when a small plane cr...",76,146,2020-01-22 22:13:34

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220182010972557313""","""CNN Breaking News""",cnnbrk,"""At least one person was killed and several ot...",354,534,2020-01-23 03:10:35,[],[],0,0
1,"""1220152440315613185""","""CNN Breaking News""",cnnbrk,"""Another inmate has died at Mississippi's Parc...",162,281,2020-01-23 01:13:05,[],[],0,0
2,"""1220133332702375937""","""CNN Breaking News""",cnnbrk,"""Eli Manning, quarterback for the New York Gia...",199,1067,2020-01-22 23:57:10,[],[],0,0
3,"""1220108211191209984""","""CNN Breaking News""",cnnbrk,"""Rapper and singer Juice WRLD died from an acc...",329,923,2020-01-22 22:17:20,[],[],0,0
4,"""1220107262741618688""","""CNN Breaking News""",cnnbrk,"""Four people were killed when a small plane cr...",76,146,2020-01-22 22:13:34,[],[],0,0
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1126953520912109570""","""CNN Breaking News""",cnnbrk,"""At least three people are unaccounted for aft...",73,130,2019-05-10 20:53:51,[],[],0,0
3196,"""1126950351607930880""","""CNN Breaking News""",cnnbrk,"""The House Ways and Means committee issues sub...",237,1181,2019-05-10 20:41:16,[],[],0,0
3197,"""1126924899082174466""","""CNN Breaking News""",cnnbrk,"""House Judiciary Chairman Jerry Nadler says Ro...",97,222,2019-05-10 19:00:07,[],[],0,0
3198,"""1126904568556740610""","""CNN Breaking News""",cnnbrk,"""The latest round of US-China trade talks ends...",77,164,2019-05-10 17:39:20,[],[],0,0
3199,"""1126897568154300416""","""CNN Breaking News""",cnnbrk,"""The State Department says Secretary Pompeo wi...",101,219,2019-05-10 17:11:31,[],[],0,0

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220182010972557313""","""CNN Breaking News""",cnnbrk,"""At least one person was killed and several ot...",354,534,[],[],0,0,2020-01-23,03:10:35
1,"""1220152440315613185""","""CNN Breaking News""",cnnbrk,"""Another inmate has died at Mississippi's Parc...",162,281,[],[],0,0,2020-01-23,01:13:05
2,"""1220133332702375937""","""CNN Breaking News""",cnnbrk,"""Eli Manning, quarterback for the New York Gia...",199,1067,[],[],0,0,2020-01-22,23:57:10
3,"""1220108211191209984""","""CNN Breaking News""",cnnbrk,"""Rapper and singer Juice WRLD died from an acc...",329,923,[],[],0,0,2020-01-22,22:17:20
4,"""1220107262741618688""","""CNN Breaking News""",cnnbrk,"""Four people were killed when a small plane cr...",76,146,[],[],0,0,2020-01-22,22:13:34
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1126953520912109570""","""CNN Breaking News""",cnnbrk,"""At least three people are unaccounted for aft...",73,130,[],[],0,0,2019-05-10,20:53:51
3196,"""1126950351607930880""","""CNN Breaking News""",cnnbrk,"""The House Ways and Means committee issues sub...",237,1181,[],[],0,0,2019-05-10,20:41:16
3197,"""1126924899082174466""","""CNN Breaking News""",cnnbrk,"""House Judiciary Chairman Jerry Nadler says Ro...",97,222,[],[],0,0,2019-05-10,19:00:07
3198,"""1126904568556740610""","""CNN Breaking News""",cnnbrk,"""The latest round of US-China trade talks ends...",77,164,[],[],0,0,2019-05-10,17:39:20
3199,"""1126897568154300416""","""CNN Breaking News""",cnnbrk,"""The State Department says Secretary Pompeo wi...",101,219,[],[],0,0,2019-05-10,17:11:31

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/CNNBreakingImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220182010972557313""","""1220181950545174528""",https://pbs.twimg.com/media/EO71BOuWoAAMNOa.jpg,https://t.co/WwbVQgiulX
1,"""1220152440315613185""","""1220152304571121668""",https://pbs.twimg.com/media/EO7aDm3WAAQzRrJ.jpg,https://t.co/BGmwrU6c0g
2,"""1220133332702375937""","""1220133305678430210""",https://pbs.twimg.com/media/EO7IxueWAAIMDuL.jpg,https://t.co/ZgElELq2qd
3,"""1220108211191209984""","""1220108035391197185""",https://pbs.twimg.com/media/EO6xyzUXkAECIfE.jpg,https://t.co/zinIwOU9w2
4,"""1220107262741618688""","""1220107205900369920""",https://pbs.twimg.com/media/EO6xChOWAAATL5p.jpg,https://t.co/sYRM0jFapq
...,...,...,...,...
2748,"""1126953520912109570""","""1126953414724861952""",https://pbs.twimg.com/media/D6O-KOsWwAA0Uix.jpg,https://t.co/Znsld6g24m
2749,"""1126950351607930880""","""1126950268212527111""",https://pbs.twimg.com/media/D6O7TFBWwAclrNP.jpg,https://t.co/aibs8aIJCv
2750,"""1126924899082174466""","""1126924880333746176""",https://pbs.twimg.com/media/D6OkNTzXsAAu8H4.jpg,https://t.co/IKUy5aKCfL
2751,"""1126904568556740610""","""1126904516576776192""",https://pbs.twimg.com/media/D6ORr-5XkAArK7M.jpg,https://t.co/engu86FDaY
2752,"""1126897568154300416""","""1126897500596649991""",https://pbs.twimg.com/media/D6OLTmVWwAcAwsp.jpg,https://t.co/VNpc4lmUth

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (2753, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (2753, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                   Tweet Id       Images
0     "1220182010972557313"  Image added
1     "1220152440315613185"  Image added
2     "1220133332702375937"  Image added
3     "1220108211191209984"  Image added
4     "1220107262741618688"  Image added
...                     ...          ...
2748  "1126953520912109570"  Image added
2749  "1126950351607930880"  Image added
2750  "1126924899082174466"  Image added
2751  "1126904568556740610"  Image added
2752  "1126897568154300416"  Image added

[2753 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220182010972557313""","""CNN Breaking News""",cnnbrk,"""At least one person was killed and several ot...",354,534,[],[],0,0,2020-01-23,03:10:35,Image added
1,"""1220152440315613185""","""CNN Breaking News""",cnnbrk,"""Another inmate has died at Mississippi's Parc...",162,281,[],[],0,0,2020-01-23,01:13:05,Image added
2,"""1220133332702375937""","""CNN Breaking News""",cnnbrk,"""Eli Manning, quarterback for the New York Gia...",199,1067,[],[],0,0,2020-01-22,23:57:10,Image added
3,"""1220108211191209984""","""CNN Breaking News""",cnnbrk,"""Rapper and singer Juice WRLD died from an acc...",329,923,[],[],0,0,2020-01-22,22:17:20,Image added
4,"""1220107262741618688""","""CNN Breaking News""",cnnbrk,"""Four people were killed when a small plane cr...",76,146,[],[],0,0,2020-01-22,22:13:34,Image added
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1126953520912109570""","""CNN Breaking News""",cnnbrk,"""At least three people are unaccounted for aft...",73,130,[],[],0,0,2019-05-10,20:53:51,Image added
3196,"""1126950351607930880""","""CNN Breaking News""",cnnbrk,"""The House Ways and Means committee issues sub...",237,1181,[],[],0,0,2019-05-10,20:41:16,Image added
3197,"""1126924899082174466""","""CNN Breaking News""",cnnbrk,"""House Judiciary Chairman Jerry Nadler says Ro...",97,222,[],[],0,0,2019-05-10,19:00:07,Image added
3198,"""1126904568556740610""","""CNN Breaking News""",cnnbrk,"""The latest round of US-China trade talks ends...",77,164,[],[],0,0,2019-05-10,17:39:20,Image added
3199,"""1126897568154300416""","""CNN Breaking News""",cnnbrk,"""The State Department says Secretary Pompeo wi...",101,219,[],[],0,0,2019-05-10,17:11:31,Image added

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/CNNBreakingVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220005275173838848""","""1220004888001814529""",https://video.twimg.com/amplify_video/12200048...,https://t.co/VfmoMUCzN1
1,"""1219658670998532096""","""1219658625561636866""",https://video.twimg.com/amplify_video/12196586...,https://t.co/EsEzTN5Xqr
2,"""1219647828189949952""","""1219647756911943682""",https://video.twimg.com/amplify_video/12196477...,https://t.co/8UlZlX2njX
3,"""1218900137524781061""","""1218900070244016128""",https://video.twimg.com/amplify_video/12189000...,https://t.co/TnAibk6hq1
4,"""1217858909089796102""","""1217858834963869701""",https://video.twimg.com/amplify_video/12178588...,https://t.co/Rt2BItJZm2
...,...,...,...,...
151,"""1133754934460067840""","""1133754566607024128""",https://video.twimg.com/amplify_video/11337545...,https://t.co/JSnGi2KoIK
152,"""1133754000971575296""","""1133753724852199424""",https://video.twimg.com/amplify_video/11337537...,https://t.co/X7t0NvdfhT
153,"""1133034229128945664""","""1133032921600790528""",https://video.twimg.com/amplify_video/11330329...,https://t.co/DtuU2rgYyP
154,"""1131583716457889797""","""1131583347036237824""",https://video.twimg.com/amplify_video/11315833...,https://t.co/LNQyiLNITN
155,"""1131201378326593543""","""1131201048482390016""",https://video.twimg.com/amplify_video/11312010...,https://t.co/dzi179fGu1

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (156, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (156, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1220005275173838848"  Video added
1    "1219658670998532096"  Video added
2    "1219647828189949952"  Video added
3    "1218900137524781061"  Video added
4    "1217858909089796102"  Video added
..                     ...          ...
151  "1133754934460067840"  Video added
152  "1133754000971575296"  Video added
153  "1133034229128945664"  Video added
154  "1131583716457889797"  Video added
155  "1131201378326593543"  Video added

[156 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220182010972557313""","""CNN Breaking News""",cnnbrk,"""At least one person was killed and several ot...",354,534,[],[],0,0,2020-01-23,03:10:35,Image added,NaN
1,"""1220152440315613185""","""CNN Breaking News""",cnnbrk,"""Another inmate has died at Mississippi's Parc...",162,281,[],[],0,0,2020-01-23,01:13:05,Image added,NaN
2,"""1220133332702375937""","""CNN Breaking News""",cnnbrk,"""Eli Manning, quarterback for the New York Gia...",199,1067,[],[],0,0,2020-01-22,23:57:10,Image added,NaN
3,"""1220108211191209984""","""CNN Breaking News""",cnnbrk,"""Rapper and singer Juice WRLD died from an acc...",329,923,[],[],0,0,2020-01-22,22:17:20,Image added,NaN
4,"""1220107262741618688""","""CNN Breaking News""",cnnbrk,"""Four people were killed when a small plane cr...",76,146,[],[],0,0,2020-01-22,22:13:34,Image added,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1126953520912109570""","""CNN Breaking News""",cnnbrk,"""At least three people are unaccounted for aft...",73,130,[],[],0,0,2019-05-10,20:53:51,Image added,NaN
3196,"""1126950351607930880""","""CNN Breaking News""",cnnbrk,"""The House Ways and Means committee issues sub...",237,1181,[],[],0,0,2019-05-10,20:41:16,Image added,NaN
3197,"""1126924899082174466""","""CNN Breaking News""",cnnbrk,"""House Judiciary Chairman Jerry Nadler says Ro...",97,222,[],[],0,0,2019-05-10,19:00:07,Image added,NaN
3198,"""1126904568556740610""","""CNN Breaking News""",cnnbrk,"""The latest round of US-China trade talks ends...",77,164,[],[],0,0,2019-05-10,17:39:20,Image added,NaN
3199,"""1126897568154300416""","""CNN Breaking News""",cnnbrk,"""The State Department says Secretary Pompeo wi...",101,219,[],[],0,0,2019-05-10,17:11:31,Image added,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Organisation"

#Create an Vocation column 
Tweets_df['Vocation'] = "News/Media"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220182010972557313""","""CNN Breaking News""",cnnbrk,354,534,[],[],0,0,2020-01-23,03:10:35,Image added,-,Organisation,News/Media
1,"""1220152440315613185""","""CNN Breaking News""",cnnbrk,162,281,[],[],0,0,2020-01-23,01:13:05,Image added,-,Organisation,News/Media
2,"""1220133332702375937""","""CNN Breaking News""",cnnbrk,199,1067,[],[],0,0,2020-01-22,23:57:10,Image added,-,Organisation,News/Media
3,"""1220108211191209984""","""CNN Breaking News""",cnnbrk,329,923,[],[],0,0,2020-01-22,22:17:20,Image added,-,Organisation,News/Media
4,"""1220107262741618688""","""CNN Breaking News""",cnnbrk,76,146,[],[],0,0,2020-01-22,22:13:34,Image added,-,Organisation,News/Media
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1126953520912109570""","""CNN Breaking News""",cnnbrk,73,130,[],[],0,0,2019-05-10,20:53:51,Image added,-,Organisation,News/Media
3196,"""1126950351607930880""","""CNN Breaking News""",cnnbrk,237,1181,[],[],0,0,2019-05-10,20:41:16,Image added,-,Organisation,News/Media
3197,"""1126924899082174466""","""CNN Breaking News""",cnnbrk,97,222,[],[],0,0,2019-05-10,19:00:07,Image added,-,Organisation,News/Media
3198,"""1126904568556740610""","""CNN Breaking News""",cnnbrk,77,164,[],[],0,0,2019-05-10,17:39:20,Image added,-,Organisation,News/Media
3199,"""1126897568154300416""","""CNN Breaking News""",cnnbrk,101,219,[],[],0,0,2019-05-10,17:11:31,Image added,-,Organisation,News/Media

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220182010972557313""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,534,354,Image added,-,2020-01-23,03:10:35
"""1220152440315613185""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,281,162,Image added,-,2020-01-23,01:13:05
"""1220133332702375937""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,1067,199,Image added,-,2020-01-22,23:57:10
"""1220108211191209984""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,923,329,Image added,-,2020-01-22,22:17:20
"""1220107262741618688""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,146,76,Image added,-,2020-01-22,22:13:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""1126953520912109570""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,130,73,Image added,-,2019-05-10,20:53:51
"""1126950351607930880""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,1181,237,Image added,-,2019-05-10,20:41:16
"""1126924899082174466""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,222,97,Image added,-,2019-05-10,19:00:07
"""1126904568556740610""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,164,77,Image added,-,2019-05-10,17:39:20
"""1126897568154300416""","""CNN Breaking News""",cnnbrk,Organisation,News/Media,[],0,[],0,219,101,Image added,-,2019-05-10,17:11:31

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/CNNBreaking_df.csv')