##### ===================================================================================================================

#  Miley Cyrus Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/MileyCyrusTweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1219648605067173889""",https://twitter.com/mileycyrus/status/12196486...,2020-01-21 15:51:02,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",Tweet,Twitter for iPhone,1517,21637,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
1,"""1218671432189632514""",https://twitter.com/mileycyrus/status/12186714...,2020-01-18 23:08:05,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",Tweet,Twitter for iPhone,952,9337,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
2,"""1218264038758502401""",https://twitter.com/mileycyrus/status/12182640...,2020-01-17 20:09:15,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",Tweet,Twitter for iPhone,13990,135970,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
3,"""1218225041864675328""",https://twitter.com/mileycyrus/status/12182250...,2020-01-17 17:34:18,"""On sale now! https://t.co/hFGNMrrwYm""",Tweet,Twitter for iPhone,437,3598,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
4,"""1218216622982197248""",https://twitter.com/mileycyrus/status/12182166...,2020-01-17 17:00:50,"""It was a year yesterday I had the honor of pe...",Tweet,Twitter for iPhone,1617,12026,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""504509324509847552""",https://twitter.com/madonna/status/50450932450...,2014-08-27 06:02:50,"""You heard it! Now do it!!!! check out the cam...",Retweet,Twitter for iPhone,2474,3859,"""512700138""","""Madonna""",madonna,Verified,https://twitter.com/madonna,Not Protected
3196,"""504508496428421122""",https://twitter.com/madonna/status/50450849642...,2014-08-27 05:59:33,"""Join the fight to end youth homelessness with...",Retweet,Twitter for iPhone,3625,5068,"""512700138""","""Madonna""",madonna,Verified,https://twitter.com/madonna,Not Protected
3197,"""504481510963941376""",https://twitter.com/danecook/status/5044815109...,2014-08-27 04:12:19,"""@mileycyrus won't leave me alone. http://t.co...",Retweet,Instagram,1693,3789,"""20978103""","""Dane Cook""",danecook,Non-Verified,https://twitter.com/danecook,Not Protected
3198,"""504397898302246912""",https://twitter.com/mileycyrus/status/50439789...,2014-08-26 22:40:04,"""@peta Piggy &amp; Bean under the blankets. Ha...",Reply,Twitter for iPhone,2366,3656,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected
3199,"""504390761941458944""",https://twitter.com/mileycyrus/status/50439076...,2014-08-26 22:11:43,"""@peta I am :) got all 4 of em and my pig ðŸ’–""",Reply,Twitter for iPhone,1866,2913,"""268414482""","""Miley Ray Cyrus""",mileycyrus,Verified,https://twitter.com/mileycyrus,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",1517,21637,2020-01-21 15:51:02
1,"""1218671432189632514""","""Miley Ray Cyrus""",mileycyrus,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",952,9337,2020-01-18 23:08:05
2,"""1218264038758502401""","""Miley Ray Cyrus""",mileycyrus,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",13990,135970,2020-01-17 20:09:15
3,"""1218225041864675328""","""Miley Ray Cyrus""",mileycyrus,"""On sale now! https://t.co/hFGNMrrwYm""",437,3598,2020-01-17 17:34:18
4,"""1218216622982197248""","""Miley Ray Cyrus""",mileycyrus,"""It was a year yesterday I had the honor of pe...",1617,12026,2020-01-17 17:00:50

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",1517,21637,2020-01-21 15:51:02,[],[],0,0
1,"""1218671432189632514""","""Miley Ray Cyrus""",mileycyrus,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",952,9337,2020-01-18 23:08:05,[],[],0,0
2,"""1218264038758502401""","""Miley Ray Cyrus""",mileycyrus,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",13990,135970,2020-01-17 20:09:15,[@jonasbrothers],[],0,1
3,"""1218225041864675328""","""Miley Ray Cyrus""",mileycyrus,"""On sale now! https://t.co/hFGNMrrwYm""",437,3598,2020-01-17 17:34:18,[],[],0,0
4,"""1218216622982197248""","""Miley Ray Cyrus""",mileycyrus,"""It was a year yesterday I had the honor of pe...",1617,12026,2020-01-17 17:00:50,[@chriscornell],[],0,1
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""504509324509847552""","""Madonna""",madonna,"""You heard it! Now do it!!!! check out the cam...",2474,3859,2014-08-27 06:02:50,[],[],0,0
3196,"""504508496428421122""","""Madonna""",madonna,"""Join the fight to end youth homelessness with...",3625,5068,2014-08-27 05:59:33,[@MileyCyrus],[],0,1
3197,"""504481510963941376""","""Dane Cook""",danecook,"""@mileycyrus won't leave me alone. http://t.co...",1693,3789,2014-08-27 04:12:19,[@mileycyrus],[],0,1
3198,"""504397898302246912""","""Miley Ray Cyrus""",mileycyrus,"""@peta Piggy &amp; Bean under the blankets. Ha...",2366,3656,2014-08-26 22:40:04,[@peta],[],0,1
3199,"""504390761941458944""","""Miley Ray Cyrus""",mileycyrus,"""@peta I am :) got all 4 of em and my pig ðŸ’–""",1866,2913,2014-08-26 22:11:43,[@peta],[],0,1

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",1517,21637,[],[],0,0,2020-01-21,15:51:02
1,"""1218671432189632514""","""Miley Ray Cyrus""",mileycyrus,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",952,9337,[],[],0,0,2020-01-18,23:08:05
2,"""1218264038758502401""","""Miley Ray Cyrus""",mileycyrus,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",13990,135970,[@jonasbrothers],[],0,1,2020-01-17,20:09:15
3,"""1218225041864675328""","""Miley Ray Cyrus""",mileycyrus,"""On sale now! https://t.co/hFGNMrrwYm""",437,3598,[],[],0,0,2020-01-17,17:34:18
4,"""1218216622982197248""","""Miley Ray Cyrus""",mileycyrus,"""It was a year yesterday I had the honor of pe...",1617,12026,[@chriscornell],[],0,1,2020-01-17,17:00:50
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""504509324509847552""","""Madonna""",madonna,"""You heard it! Now do it!!!! check out the cam...",2474,3859,[],[],0,0,2014-08-27,06:02:50
3196,"""504508496428421122""","""Madonna""",madonna,"""Join the fight to end youth homelessness with...",3625,5068,[@MileyCyrus],[],0,1,2014-08-27,05:59:33
3197,"""504481510963941376""","""Dane Cook""",danecook,"""@mileycyrus won't leave me alone. http://t.co...",1693,3789,[@mileycyrus],[],0,1,2014-08-27,04:12:19
3198,"""504397898302246912""","""Miley Ray Cyrus""",mileycyrus,"""@peta Piggy &amp; Bean under the blankets. Ha...",2366,3656,[@peta],[],0,1,2014-08-26,22:40:04
3199,"""504390761941458944""","""Miley Ray Cyrus""",mileycyrus,"""@peta I am :) got all 4 of em and my pig ðŸ’–""",1866,2913,[@peta],[],0,1,2014-08-26,22:11:43

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/MileyCyrusImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219648605067173889""","""1219648601367797760""",https://pbs.twimg.com/media/EO0P8ONUYAAVN2x.jpg,https://t.co/BvTasw5JkT
1,"""1219648605067173889""","""1219648601367830528""",https://pbs.twimg.com/media/EO0P8ONU4AAF_My.jpg,https://t.co/BvTasw5JkT
2,"""1218264038758502401""","""1218264034480291840""",https://pbs.twimg.com/media/EOgkr0nVAAA3HD5.jpg,https://t.co/DVxxLS07UY
3,"""1218019440735862784""","""1218019437078433793""",https://pbs.twimg.com/media/EOdGOYSU0AEngRH.jpg,https://t.co/CEw5sOGFIx
4,"""1218019440735862784""","""1218019437082632194""",https://pbs.twimg.com/media/EOdGOYTU4AIuIFN.jpg,https://t.co/CEw5sOGFIx
...,...,...,...,...
1856,"""515664655461941248""","""515664655067676672""",https://pbs.twimg.com/media/BygCRYyIgAAV6Cg.jpg,http://t.co/v6eZiznjcZ
1857,"""514547677304856576""","""514547677116112897""",https://pbs.twimg.com/media/ByQKYtqCIAEKuvr.jpg,http://t.co/NVpKtOwyj6
1858,"""513412355716571137""","""513412350679191554""",https://pbs.twimg.com/media/ByAB0BGIEAIMAZ0.jpg,http://t.co/gjvgWgAEvy
1859,"""513054324096659456""","""513054323048071168""",https://pbs.twimg.com/media/Bx68MEPCQAAv7lQ.jpg,http://t.co/W0L0gnCH36
1860,"""507934051928641536""","""507934051358220288""",https://pbs.twimg.com/media/BwyLVByIIAAaDKe.png,http://t.co/jOTxLhxQYq

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1861, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

The dataframes 'shape' is represented as: (1861, 2)

In [16]:
#Print the dataframe
Images_df

                   Tweet Id       Images
0     "1219648605067173889"  Image added
1     "1219648605067173889"  Image added
2     "1218264038758502401"  Image added
3     "1218019440735862784"  Image added
4     "1218019440735862784"  Image added
...                     ...          ...
1856   "515664655461941248"  Image added
1857   "514547677304856576"  Image added
1858   "513412355716571137"  Image added
1859   "513054324096659456"  Image added
1860   "507934051928641536"  Image added

[1861 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",1517,21637,[],[],0,0,2020-01-21,15:51:02,Image added
1,"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",1517,21637,[],[],0,0,2020-01-21,15:51:02,Image added
2,"""1218671432189632514""","""Miley Ray Cyrus""",mileycyrus,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",952,9337,[],[],0,0,2020-01-18,23:08:05,NaN
3,"""1218264038758502401""","""Miley Ray Cyrus""",mileycyrus,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",13990,135970,[@jonasbrothers],[],0,1,2020-01-17,20:09:15,Image added
4,"""1218225041864675328""","""Miley Ray Cyrus""",mileycyrus,"""On sale now! https://t.co/hFGNMrrwYm""",437,3598,[],[],0,0,2020-01-17,17:34:18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,"""504509324509847552""","""Madonna""",madonna,"""You heard it! Now do it!!!! check out the cam...",2474,3859,[],[],0,0,2014-08-27,06:02:50,NaN
3579,"""504508496428421122""","""Madonna""",madonna,"""Join the fight to end youth homelessness with...",3625,5068,[@MileyCyrus],[],0,1,2014-08-27,05:59:33,NaN
3580,"""504481510963941376""","""Dane Cook""",danecook,"""@mileycyrus won't leave me alone. http://t.co...",1693,3789,[@mileycyrus],[],0,1,2014-08-27,04:12:19,NaN
3581,"""504397898302246912""","""Miley Ray Cyrus""",mileycyrus,"""@peta Piggy &amp; Bean under the blankets. Ha...",2366,3656,[@peta],[],0,1,2014-08-26,22:40:04,NaN
3582,"""504390761941458944""","""Miley Ray Cyrus""",mileycyrus,"""@peta I am :) got all 4 of em and my pig ðŸ’–""",1866,2913,[@peta],[],0,1,2014-08-26,22:11:43,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/MileyCyrusVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1218216622982197248""","""1218216528660684800""",https://video.twimg.com/ext_tw_video/121821652...,https://t.co/HujbgsP9cB
1,"""1217852030447800320""","""1217851996062937090""",https://video.twimg.com/ext_tw_video/121785199...,https://t.co/EKx8z25aOo
2,"""1216046146008776704""","""1216031225946787842""",https://video.twimg.com/amplify_video/12160312...,https://t.co/pvCKvLl8r1
3,"""1205896959782871040""","""1205896831823052800""",https://video.twimg.com/ext_tw_video/120589683...,https://t.co/WsuzAtBSDS
4,"""1205551864860725248""","""1205551512857931776""",https://video.twimg.com/ext_tw_video/120555151...,https://t.co/g5mFdUVOsh
...,...,...,...,...
675,"""636646209583607808""","""636646165669261312""",https://video.twimg.com/ext_tw_video/636646165...,http://t.co/VfXMF3wx9x
676,"""635528232452775936""","""635528124474589185""",https://video.twimg.com/ext_tw_video/635528124...,http://t.co/cseXVEDp91
677,"""635207981026512896""","""635207946142552065""",https://video.twimg.com/tweet_video/CNC2QvRVEA...,http://t.co/2zLZMLrA0t
678,"""629407844735975425""","""629407807721246720""",https://video.twimg.com/ext_tw_video/629407807...,http://t.co/XIsfkEUvtO
679,"""628324222063013888""","""628324051241582592""",https://video.twimg.com/ext_tw_video/628324051...,http://t.co/fzrGJ8gsCa

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (680, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (680, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                  Tweet Id       Videos
0    "1218216622982197248"  Video added
1    "1217852030447800320"  Video added
2    "1216046146008776704"  Video added
3    "1205896959782871040"  Video added
4    "1205551864860725248"  Video added
..                     ...          ...
675   "636646209583607808"  Video added
676   "635528232452775936"  Video added
677   "635207981026512896"  Video added
678   "629407844735975425"  Video added
679   "628324222063013888"  Video added

[680 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",1517,21637,[],[],0,0,2020-01-21,15:51:02,Image added,NaN
1,"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,"""A day in Wattâ€™s shoes ðŸ‘¢ ( is definitely safer...",1517,21637,[],[],0,0,2020-01-21,15:51:02,Image added,NaN
2,"""1218671432189632514""","""Miley Ray Cyrus""",mileycyrus,"""ðŸ’€ðŸ’€ https://t.co/tAFg0TlkG4""",952,9337,[],[],0,0,2020-01-18,23:08:05,NaN,NaN
3,"""1218264038758502401""","""Miley Ray Cyrus""",mileycyrus,"""12 years ago today. Donâ€™t say I havenâ€™t alway...",13990,135970,[@jonasbrothers],[],0,1,2020-01-17,20:09:15,Image added,NaN
4,"""1218225041864675328""","""Miley Ray Cyrus""",mileycyrus,"""On sale now! https://t.co/hFGNMrrwYm""",437,3598,[],[],0,0,2020-01-17,17:34:18,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3579,"""504509324509847552""","""Madonna""",madonna,"""You heard it! Now do it!!!! check out the cam...",2474,3859,[],[],0,0,2014-08-27,06:02:50,NaN,NaN
3580,"""504508496428421122""","""Madonna""",madonna,"""Join the fight to end youth homelessness with...",3625,5068,[@MileyCyrus],[],0,1,2014-08-27,05:59:33,NaN,NaN
3581,"""504481510963941376""","""Dane Cook""",danecook,"""@mileycyrus won't leave me alone. http://t.co...",1693,3789,[@mileycyrus],[],0,1,2014-08-27,04:12:19,NaN,NaN
3582,"""504397898302246912""","""Miley Ray Cyrus""",mileycyrus,"""@peta Piggy &amp; Bean under the blankets. Ha...",2366,3656,[@peta],[],0,1,2014-08-26,22:40:04,NaN,NaN
3583,"""504390761941458944""","""Miley Ray Cyrus""",mileycyrus,"""@peta I am :) got all 4 of em and my pig ðŸ’–""",1866,2913,[@peta],[],0,1,2014-08-26,22:11:43,NaN,NaN

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Female"

#Create an Vocation column 
Tweets_df['Vocation'] = "Music"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3584, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,1517,21637,[],[],0,0,2020-01-21,15:51:02,Image added,-,Female,Music
1,"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,1517,21637,[],[],0,0,2020-01-21,15:51:02,Image added,-,Female,Music
2,"""1218671432189632514""","""Miley Ray Cyrus""",mileycyrus,952,9337,[],[],0,0,2020-01-18,23:08:05,-,-,Female,Music
3,"""1218264038758502401""","""Miley Ray Cyrus""",mileycyrus,13990,135970,[@jonasbrothers],[],0,1,2020-01-17,20:09:15,Image added,-,Female,Music
4,"""1218225041864675328""","""Miley Ray Cyrus""",mileycyrus,437,3598,[],[],0,0,2020-01-17,17:34:18,-,-,Female,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3579,"""504509324509847552""","""Madonna""",madonna,2474,3859,[],[],0,0,2014-08-27,06:02:50,-,-,Female,Music
3580,"""504508496428421122""","""Madonna""",madonna,3625,5068,[@MileyCyrus],[],0,1,2014-08-27,05:59:33,-,-,Female,Music
3581,"""504481510963941376""","""Dane Cook""",danecook,1693,3789,[@mileycyrus],[],0,1,2014-08-27,04:12:19,-,-,Female,Music
3582,"""504397898302246912""","""Miley Ray Cyrus""",mileycyrus,2366,3656,[@peta],[],0,1,2014-08-26,22:40:04,-,-,Female,Music
3583,"""504390761941458944""","""Miley Ray Cyrus""",mileycyrus,1866,2913,[@peta],[],0,1,2014-08-26,22:11:43,-,-,Female,Music

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3584, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,Female,Music,[],0,[],0,21637,1517,Image added,-,2020-01-21,15:51:02
"""1219648605067173889""","""Miley Ray Cyrus""",mileycyrus,Female,Music,[],0,[],0,21637,1517,Image added,-,2020-01-21,15:51:02
"""1218671432189632514""","""Miley Ray Cyrus""",mileycyrus,Female,Music,[],0,[],0,9337,952,-,-,2020-01-18,23:08:05
"""1218264038758502401""","""Miley Ray Cyrus""",mileycyrus,Female,Music,[],0,[@jonasbrothers],1,135970,13990,Image added,-,2020-01-17,20:09:15
"""1218225041864675328""","""Miley Ray Cyrus""",mileycyrus,Female,Music,[],0,[],0,3598,437,-,-,2020-01-17,17:34:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""504509324509847552""","""Madonna""",madonna,Female,Music,[],0,[],0,3859,2474,-,-,2014-08-27,06:02:50
"""504508496428421122""","""Madonna""",madonna,Female,Music,[],0,[@MileyCyrus],1,5068,3625,-,-,2014-08-27,05:59:33
"""504481510963941376""","""Dane Cook""",danecook,Female,Music,[],0,[@mileycyrus],1,3789,1693,-,-,2014-08-27,04:12:19
"""504397898302246912""","""Miley Ray Cyrus""",mileycyrus,Female,Music,[],0,[@peta],1,3656,2366,-,-,2014-08-26,22:40:04
"""504390761941458944""","""Miley Ray Cyrus""",mileycyrus,Female,Music,[],0,[@peta],1,2913,1866,-,-,2014-08-26,22:11:43

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/MileyCyrus_df.csv')