##### ===================================================================================================================

#  NASA Tweets

##### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

##### READ THE TWEETS CSV

In [2]:
#Create reference to CSV file
csv_path = "RenamedTweets/NASATweets.csv"

#Import the CSV into a pandas DataFrame
Tweets_df = pd.read_csv(csv_path, low_memory = False)
Tweets_df

,Tweet Id,Tweet URL,Tweet Posted Time,Tweet Content,Tweet Type,Client,Retweets received,Likes received,User Id,Name,Username,Verified or Non-Verified,Profile URL,Protected or Not Protected
0,"""1220149150765002752""",https://twitter.com/nasa/status/12201491507650...,2020-01-23 01:00:01,"""Burn scars left by wildfires in southeastern ...",Tweet,Sprinklr,312,1192,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
1,"""1220126500843814912""",https://twitter.com/nasa/status/12201265008438...,2020-01-22 23:30:01,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",Tweet,Sprinklr,170,1098,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
2,"""1220124092336082946""",https://twitter.com/jimbridenstine/status/1220...,2020-01-22 23:20:27,"""The team has successfully lowered the @NASA_S...",Retweet,Twitter Web App,304,2107,"""243418245""","""Jim Bridenstine""",jimbridenstine,Verified,https://twitter.com/jimbridenstine,Not Protected
3,"""1220107625980973056""",https://twitter.com/nasa/status/12201076259809...,2020-01-22 22:15:01,"""To help return astronauts to the Moon, our #A...",Tweet,Sprinklr,454,2888,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
4,"""1220092526738247680""",https://twitter.com/nasa/status/12200925267382...,2020-01-22 21:15:01,"""The legacy of @NASASpitzer will live on! Afte...",Tweet,Sprinklr,662,3578,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1124018015740289024""",https://twitter.com/iss_research/status/112401...,2019-05-02 18:29:12,"""The #science aboard @SpaceX #Dragon will help...",Retweet,Twitter Media Studio,385,1725,"""189253902""","""ISS Research""",iss_research,Verified,https://twitter.com/iss_research,Not Protected
3196,"""1123965610004758528""",https://twitter.com/nasa/status/11239656100047...,2019-05-02 15:00:58,"""LIVE from @NASAKennedy: Experts from @SpaceX,...",Tweet,Sprinklr,171,1147,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
3197,"""1123959959249661953""",https://twitter.com/nasa/status/11239599592496...,2019-05-02 14:38:31,"""We‚Äôre preparing to launch a rocket tomorrow! ...",Tweet,Sprinklr,426,2948,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
3198,"""1123952508920004608""",https://twitter.com/nasa/status/11239525089200...,2019-05-02 14:08:54,"""This morning, Mission Control teams successfu...",Tweet,Sprinklr,256,1699,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected
3199,"""1123945236219215874""",https://twitter.com/nasa/status/11239452362192...,2019-05-02 13:40:00,"""3-2-1‚Ä¶ LIFTOFF! üöÄ @BlueOrigin‚Äôs #NewShepard r...",Tweet,SnappyTV.com,1393,6656,"""11348282""","""NASA""",nasa,Verified,https://twitter.com/nasa,Not Protected

In [3]:
#Show the 'shape' of the dataframe 
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 14)

##### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Tweet Content", "Retweets received", "Likes received",
                       "Tweet Posted Time"]]
# "User Id",
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 7)

In [5]:
#Print the dataframe
Tweets_df.head()

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time
0,"""1220149150765002752""","""NASA""",nasa,"""Burn scars left by wildfires in southeastern ...",312,1192,2020-01-23 01:00:01
1,"""1220126500843814912""","""NASA""",nasa,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",170,1098,2020-01-22 23:30:01
2,"""1220124092336082946""","""Jim Bridenstine""",jimbridenstine,"""The team has successfully lowered the @NASA_S...",304,2107,2020-01-22 23:20:27
3,"""1220107625980973056""","""NASA""",nasa,"""To help return astronauts to the Moon, our #A...",454,2888,2020-01-22 22:15:01
4,"""1220092526738247680""","""NASA""",nasa,"""The legacy of @NASASpitzer will live on! Afte...",662,3578,2020-01-22 21:15:01

##### FILTER THROUGH TWEET CONTENTS TO EXTRACT HASHTAGS (#) AND MENTIONS(@)

In [6]:
df1 = Tweets_df[['Tweet Content']]
mention = df1['Tweet Content'].str.findall(r'@.*?(?=\s|$)')
hashtag = df1['Tweet Content'].str.findall(r'#.*?(?=\s|$)')
Tweets_df['Mentions(@)'] = mention
Tweets_df['Hashtags(#)'] = hashtag
#Tweets_df.head()

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

##### CREATE COLUMNS FOR THE COUNT OF #COMMENTS AND @MENTIONS PER ROW

In [7]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "#" in tag:
                count+=1
    return count 
                
Tweets_df['Total #'] = Tweets_df['Hashtags(#)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Count the amount of #comment's per Row
def totals(hashtag):
    count = 0
    if hashtag!= []:
        for tag in hashtag:
            if "@" in tag:
                count+=1
    return count 
                
Tweets_df['Total @'] = Tweets_df['Mentions(@)'].apply(totals)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Tweet Posted Time,Mentions(@),Hashtags(#),Total #,Total @
0,"""1220149150765002752""","""NASA""",nasa,"""Burn scars left by wildfires in southeastern ...",312,1192,2020-01-23 01:00:01,[@NOAA/@NASAEarth],[],0,1
1,"""1220126500843814912""","""NASA""",nasa,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",170,1098,2020-01-22 23:30:01,[@NASA_Wallops],[#NASASocial],1,1
2,"""1220124092336082946""","""Jim Bridenstine""",jimbridenstine,"""The team has successfully lowered the @NASA_S...",304,2107,2020-01-22 23:20:27,"[@NASA_SLS, @NASAStennis]",[],0,2
3,"""1220107625980973056""","""NASA""",nasa,"""To help return astronauts to the Moon, our #A...",454,2888,2020-01-22 22:15:01,[],[#Artemis],1,0
4,"""1220092526738247680""","""NASA""",nasa,"""The legacy of @NASASpitzer will live on! Afte...",662,3578,2020-01-22 21:15:01,[@NASASpitzer],[],0,1
...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1124018015740289024""","""ISS Research""",iss_research,"""The #science aboard @SpaceX #Dragon will help...",385,1725,2019-05-02 18:29:12,[@SpaceX],"[#science, #Dragon]",2,1
3196,"""1123965610004758528""","""NASA""",nasa,"""LIVE from @NASAKennedy: Experts from @SpaceX,...",171,1147,2019-05-02 15:00:58,"[@NASAKennedy:, @SpaceX,, @NASAKennedy,, @Spac...",[#AskNASA],1,5
3197,"""1123959959249661953""","""NASA""",nasa,"""We‚Äôre preparing to launch a rocket tomorrow! ...",426,2948,2019-05-02 14:38:31,"[@SpaceX,, @Space_Station, @45thSpaceWing]",[#AskNASA],1,3
3198,"""1123952508920004608""","""NASA""",nasa,"""This morning, Mission Control teams successfu...",256,1699,2019-05-02 14:08:54,[@Space_Station],[],0,1
3199,"""1123945236219215874""","""NASA""",nasa,"""3-2-1‚Ä¶ LIFTOFF! üöÄ @BlueOrigin‚Äôs #NewShepard r...",1393,6656,2019-05-02 13:40:00,"[@BlueOrigin‚Äôs, @NASA_Technology-supported]",[#NewShepard],1,2

##### SEPERATE THE DATE AND TIME

In [10]:
#Convert the 'Tweet Posted Time' column to string (from TimeStamp due to previous function to_datetime used)
Tweets_df['Tweet Posted Time'] = Tweets_df['Tweet Posted Time'].astype(str)

#Convert column to list
dt_list = Tweets_df["Tweet Posted Time"].tolist()

#Clean up the list to only show yyyy-mm-dd format
date = []
for x in dt_list:
    date.append(x.split(" ")[0])

#Add the formated lists into the dataframe as new columns
Tweets_df["Date"] = date

#Clean up the list to show time
time = []
for x in dt_list:
    time.append(x.split(" ")[1])

#Add the formated lists into the dataframe as new columns
Tweets_df["Time"] = time

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweet Posted Time'], axis = 1)

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3200, 12)

In [12]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time
0,"""1220149150765002752""","""NASA""",nasa,"""Burn scars left by wildfires in southeastern ...",312,1192,[@NOAA/@NASAEarth],[],0,1,2020-01-23,01:00:01
1,"""1220126500843814912""","""NASA""",nasa,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",170,1098,[@NASA_Wallops],[#NASASocial],1,1,2020-01-22,23:30:01
2,"""1220124092336082946""","""Jim Bridenstine""",jimbridenstine,"""The team has successfully lowered the @NASA_S...",304,2107,"[@NASA_SLS, @NASAStennis]",[],0,2,2020-01-22,23:20:27
3,"""1220107625980973056""","""NASA""",nasa,"""To help return astronauts to the Moon, our #A...",454,2888,[],[#Artemis],1,0,2020-01-22,22:15:01
4,"""1220092526738247680""","""NASA""",nasa,"""The legacy of @NASASpitzer will live on! Afte...",662,3578,[@NASASpitzer],[],0,1,2020-01-22,21:15:01
...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"""1124018015740289024""","""ISS Research""",iss_research,"""The #science aboard @SpaceX #Dragon will help...",385,1725,[@SpaceX],"[#science, #Dragon]",2,1,2019-05-02,18:29:12
3196,"""1123965610004758528""","""NASA""",nasa,"""LIVE from @NASAKennedy: Experts from @SpaceX,...",171,1147,"[@NASAKennedy:, @SpaceX,, @NASAKennedy,, @Spac...",[#AskNASA],1,5,2019-05-02,15:00:58
3197,"""1123959959249661953""","""NASA""",nasa,"""We‚Äôre preparing to launch a rocket tomorrow! ...",426,2948,"[@SpaceX,, @Space_Station, @45thSpaceWing]",[#AskNASA],1,3,2019-05-02,14:38:31
3198,"""1123952508920004608""","""NASA""",nasa,"""This morning, Mission Control teams successfu...",256,1699,[@Space_Station],[],0,1,2019-05-02,14:08:54
3199,"""1123945236219215874""","""NASA""",nasa,"""3-2-1‚Ä¶ LIFTOFF! üöÄ @BlueOrigin‚Äôs #NewShepard r...",1393,6656,"[@BlueOrigin‚Äôs, @NASA_Technology-supported]",[#NewShepard],1,2,2019-05-02,13:40:00

##### ===================================================================================================================

##### READ THE IMAGES CSV

In [13]:
#Create reference to CSV file
csv_path = "RenamedImages/NASAImages.csv"

#Import the CSV into a pandas DataFrame
Images_df = pd.read_csv(csv_path, low_memory = False)
Images_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1220149150765002752""","""1220149149368311812""",https://pbs.twimg.com/media/EO7XL80X4AQJgL4.jpg,https://t.co/jXZ2pDkRVg
1,"""1220126500843814912""","""1220126499065466881""",https://pbs.twimg.com/media/EO7Clh3WkAEGEQQ.jpg,https://t.co/GfFSCHGgr3
2,"""1220124092336082946""","""1220124085801422853""",https://pbs.twimg.com/media/EO7AZDwXkAUpIwE.jpg,https://t.co/giC8Una8NC
3,"""1220107625980973056""","""1220107624064212993""",https://pbs.twimg.com/media/EO6xa3AX4AEIDbo.jpg,https://t.co/TYfmUaV9q5
4,"""1220092526738247680""","""1220092524955602944""",https://pbs.twimg.com/media/EO6jr-cWkAAyJVB.jpg,https://t.co/brWOYQNtaz
...,...,...,...,...
2176,"""1124358972977422336""","""1124358670043766784""",https://pbs.twimg.com/media/D5qGQNgW4AAUZxP.jpg,https://t.co/5wpGrWnIWi
2177,"""1124132721742237697""","""1124132720400064513""",https://pbs.twimg.com/media/D5m4wNfW4AEtIos.jpg,https://t.co/V4zxY7PHwF
2178,"""1124064272072552455""","""1124064270961061893""",https://pbs.twimg.com/media/D5l6f7dXsAUKmNp.jpg,https://t.co/8j1sTTXUiO
2179,"""1123959959249661953""","""1123959957597114368""",https://pbs.twimg.com/media/D5kboF5W0AA-l8C.jpg,https://t.co/xJo7XEUp88
2180,"""1123952508920004608""","""1123952507225505792""",https://pbs.twimg.com/media/D5kU2bGWAAAswbw.jpg,https://t.co/QD8lpvxpbQ

##### COLLECT ONLY REQUIRED COLUMNS

In [14]:
#Select only columns we need
Images_df = Images_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (2181, 1)

##### ADD A IMAGES COLUMN TO THE DATAFRAME AND POPULATE

In [15]:
#Create an Images column for images
Images_df['Images'] = "Image added"

#Show the 'shape' of the dataframe
shape = Images_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (2181, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#Print the dataframe
Images_df

                   Tweet Id       Images
0     "1220149150765002752"  Image added
1     "1220126500843814912"  Image added
2     "1220124092336082946"  Image added
3     "1220107625980973056"  Image added
4     "1220092526738247680"  Image added
...                     ...          ...
2176  "1124358972977422336"  Image added
2177  "1124132721742237697"  Image added
2178  "1124064272072552455"  Image added
2179  "1123959959249661953"  Image added
2180  "1123952508920004608"  Image added

[2181 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [17]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Images_df, on = 'Tweet Id', how = 'left')

In [18]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images
0,"""1220149150765002752""","""NASA""",nasa,"""Burn scars left by wildfires in southeastern ...",312,1192,[@NOAA/@NASAEarth],[],0,1,2020-01-23,01:00:01,Image added
1,"""1220126500843814912""","""NASA""",nasa,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",170,1098,[@NASA_Wallops],[#NASASocial],1,1,2020-01-22,23:30:01,Image added
2,"""1220124092336082946""","""Jim Bridenstine""",jimbridenstine,"""The team has successfully lowered the @NASA_S...",304,2107,"[@NASA_SLS, @NASAStennis]",[],0,2,2020-01-22,23:20:27,Image added
3,"""1220107625980973056""","""NASA""",nasa,"""To help return astronauts to the Moon, our #A...",454,2888,[],[#Artemis],1,0,2020-01-22,22:15:01,Image added
4,"""1220092526738247680""","""NASA""",nasa,"""The legacy of @NASASpitzer will live on! Afte...",662,3578,[@NASASpitzer],[],0,1,2020-01-22,21:15:01,Image added
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3802,"""1124018015740289024""","""ISS Research""",iss_research,"""The #science aboard @SpaceX #Dragon will help...",385,1725,[@SpaceX],"[#science, #Dragon]",2,1,2019-05-02,18:29:12,NaN
3803,"""1123965610004758528""","""NASA""",nasa,"""LIVE from @NASAKennedy: Experts from @SpaceX,...",171,1147,"[@NASAKennedy:, @SpaceX,, @NASAKennedy,, @Spac...",[#AskNASA],1,5,2019-05-02,15:00:58,NaN
3804,"""1123959959249661953""","""NASA""",nasa,"""We‚Äôre preparing to launch a rocket tomorrow! ...",426,2948,"[@SpaceX,, @Space_Station, @45thSpaceWing]",[#AskNASA],1,3,2019-05-02,14:38:31,Image added
3805,"""1123952508920004608""","""NASA""",nasa,"""This morning, Mission Control teams successfu...",256,1699,[@Space_Station],[],0,1,2019-05-02,14:08:54,Image added
3806,"""1123945236219215874""","""NASA""",nasa,"""3-2-1‚Ä¶ LIFTOFF! üöÄ @BlueOrigin‚Äôs #NewShepard r...",1393,6656,"[@BlueOrigin‚Äôs, @NASA_Technology-supported]",[#NewShepard],1,2,2019-05-02,13:40:00,NaN

##### ===================================================================================================================

##### READ THE VIDEOS CSV

In [19]:
#Create reference to CSV file
csv_path = "RenamedVideos/NASAVideos.csv"

#Import the CSV into a pandas DataFrame
Videos_df = pd.read_csv(csv_path, low_memory = False)
Videos_df

,Tweet Id,Media Id,Media URL,Tweet URL
0,"""1219792769272684545""","""1219792757952274432""",https://video.twimg.com/tweet_video/EO2TDPVW4A...,https://t.co/CVBd2a5E9B
1,"""1219747031020982273""","""1218215124974043137""",https://video.twimg.com/amplify_video/12182151...,https://t.co/hwB0CD3NTU
2,"""1219420549513994241""","""1219420465598488576""",https://video.twimg.com/ext_tw_video/121942046...,https://t.co/2LtmOn54Nu
3,"""1219408395297529859""","""1219408379904434177""",https://video.twimg.com/tweet_video/EOw1dfhWoA...,https://t.co/urRMrjac7E
4,"""1219350405064396802""","""1219350316002566146""",https://video.twimg.com/ext_tw_video/121935031...,https://t.co/6pTrXra14b
...,...,...,...,...
1036,"""1124194883416285184""","""1124194859605217280""",https://video.twimg.com/tweet_video/D5nxRMEW0A...,https://t.co/Gdg8KVzsFb
1037,"""1124092377591840769""","""1124086091387158528""",https://video.twimg.com/amplify_video/11240860...,https://t.co/8XGrfljeg5
1038,"""1124018015740289024""","""1122970775307411457""",https://video.twimg.com/amplify_video/11229707...,https://t.co/SEUsUr9Tvo
1039,"""1123965610004758528""","""1123965585891762176""",https://video.twimg.com/tweet_video/D5kgvs7XoA...,https://t.co/2vlH7JYbnM
1040,"""1123945236219215874""","""1123945127230300161""",https://video.twimg.com/amplify_video/11239451...,https://t.co/UzZdkhaozB

##### COLLECT ONLY REQUIRED COLUMNS

In [20]:
#Select only columns we need
Videos_df = Videos_df[["Tweet Id"]]

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1041, 1)

##### ADD A VIDEOS COLUMN TO THE DATAFRAME AND POPULATE

In [21]:
#Create an Videos column for images
Videos_df['Videos'] = "Video added"

#Show the 'shape' of the dataframe
shape = Videos_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1041, 2)

C:\Users\booda\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Print the dataframe
Videos_df

                   Tweet Id       Videos
0     "1219792769272684545"  Video added
1     "1219747031020982273"  Video added
2     "1219420549513994241"  Video added
3     "1219408395297529859"  Video added
4     "1219350405064396802"  Video added
...                     ...          ...
1036  "1124194883416285184"  Video added
1037  "1124092377591840769"  Video added
1038  "1124018015740289024"  Video added
1039  "1123965610004758528"  Video added
1040  "1123945236219215874"  Video added

[1041 rows x 2 columns]

##### MERGE IMAGES_DF WITH TWEET_DF

In [23]:
#Merge the 2 dataframes together
Tweets_df = Tweets_df.merge(Videos_df, on = 'Tweet Id', how = 'left')

In [24]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Tweet Content,Retweets received,Likes received,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos
0,"""1220149150765002752""","""NASA""",nasa,"""Burn scars left by wildfires in southeastern ...",312,1192,[@NOAA/@NASAEarth],[],0,1,2020-01-23,01:00:01,Image added,NaN
1,"""1220126500843814912""","""NASA""",nasa,"""The search is on! Are you:\n\n‚òëÔ∏èCurious about...",170,1098,[@NASA_Wallops],[#NASASocial],1,1,2020-01-22,23:30:01,Image added,NaN
2,"""1220124092336082946""","""Jim Bridenstine""",jimbridenstine,"""The team has successfully lowered the @NASA_S...",304,2107,"[@NASA_SLS, @NASAStennis]",[],0,2,2020-01-22,23:20:27,Image added,NaN
3,"""1220107625980973056""","""NASA""",nasa,"""To help return astronauts to the Moon, our #A...",454,2888,[],[#Artemis],1,0,2020-01-22,22:15:01,Image added,NaN
4,"""1220092526738247680""","""NASA""",nasa,"""The legacy of @NASASpitzer will live on! Afte...",662,3578,[@NASASpitzer],[],0,1,2020-01-22,21:15:01,Image added,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3802,"""1124018015740289024""","""ISS Research""",iss_research,"""The #science aboard @SpaceX #Dragon will help...",385,1725,[@SpaceX],"[#science, #Dragon]",2,1,2019-05-02,18:29:12,NaN,Video added
3803,"""1123965610004758528""","""NASA""",nasa,"""LIVE from @NASAKennedy: Experts from @SpaceX,...",171,1147,"[@NASAKennedy:, @SpaceX,, @NASAKennedy,, @Spac...",[#AskNASA],1,5,2019-05-02,15:00:58,NaN,Video added
3804,"""1123959959249661953""","""NASA""",nasa,"""We‚Äôre preparing to launch a rocket tomorrow! ...",426,2948,"[@SpaceX,, @Space_Station, @45thSpaceWing]",[#AskNASA],1,3,2019-05-02,14:38:31,Image added,NaN
3805,"""1123952508920004608""","""NASA""",nasa,"""This morning, Mission Control teams successfu...",256,1699,[@Space_Station],[],0,1,2019-05-02,14:08:54,Image added,NaN
3806,"""1123945236219215874""","""NASA""",nasa,"""3-2-1‚Ä¶ LIFTOFF! üöÄ @BlueOrigin‚Äôs #NewShepard r...",1393,6656,"[@BlueOrigin‚Äôs, @NASA_Technology-supported]",[#NewShepard],1,2,2019-05-02,13:40:00,NaN,Video added

##### ===================================================================================================================

##### ADD A GENDER AND VOCATION COLUMN TO THE DATAFRAME AND POPULATE

In [25]:
#Create an Gender column 
Tweets_df['Gender'] = "Organisation"

#Create an Vocation column 
Tweets_df['Vocation'] = "Technology"

#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3807, 16)

In [26]:
#REPLACE ALL "NaN" FOR "-"
Tweets_df['Images'] = Tweets_df['Images'].fillna("-")
Tweets_df['Videos'] = Tweets_df['Videos'].fillna("-")

##### RENAME THE COLUMNS FOR VISUAL PURPOSES

In [27]:
Tweets_df = Tweets_df.rename(columns={"Tweet Content":"Tweets"})
Tweets_df = Tweets_df.rename(columns={"Retweets received":"Retweets"})
Tweets_df = Tweets_df.rename(columns={"Likes received":"Likes"})

##### REMOVE THE TWEETS COLUMN

In [28]:
#Drop the 'Tweet Posted Time' column as it is now replaced with a 'Date' and 'Time' column
Tweets_df = Tweets_df.drop(['Tweets'], axis = 1)

In [29]:
#Print the dataframe
Tweets_df

,Tweet Id,Name,Username,Retweets,Likes,Mentions(@),Hashtags(#),Total #,Total @,Date,Time,Images,Videos,Gender,Vocation
0,"""1220149150765002752""","""NASA""",nasa,312,1192,[@NOAA/@NASAEarth],[],0,1,2020-01-23,01:00:01,Image added,-,Organisation,Technology
1,"""1220126500843814912""","""NASA""",nasa,170,1098,[@NASA_Wallops],[#NASASocial],1,1,2020-01-22,23:30:01,Image added,-,Organisation,Technology
2,"""1220124092336082946""","""Jim Bridenstine""",jimbridenstine,304,2107,"[@NASA_SLS, @NASAStennis]",[],0,2,2020-01-22,23:20:27,Image added,-,Organisation,Technology
3,"""1220107625980973056""","""NASA""",nasa,454,2888,[],[#Artemis],1,0,2020-01-22,22:15:01,Image added,-,Organisation,Technology
4,"""1220092526738247680""","""NASA""",nasa,662,3578,[@NASASpitzer],[],0,1,2020-01-22,21:15:01,Image added,-,Organisation,Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3802,"""1124018015740289024""","""ISS Research""",iss_research,385,1725,[@SpaceX],"[#science, #Dragon]",2,1,2019-05-02,18:29:12,-,Video added,Organisation,Technology
3803,"""1123965610004758528""","""NASA""",nasa,171,1147,"[@NASAKennedy:, @SpaceX,, @NASAKennedy,, @Spac...",[#AskNASA],1,5,2019-05-02,15:00:58,-,Video added,Organisation,Technology
3804,"""1123959959249661953""","""NASA""",nasa,426,2948,"[@SpaceX,, @Space_Station, @45thSpaceWing]",[#AskNASA],1,3,2019-05-02,14:38:31,Image added,-,Organisation,Technology
3805,"""1123952508920004608""","""NASA""",nasa,256,1699,[@Space_Station],[],0,1,2019-05-02,14:08:54,Image added,-,Organisation,Technology
3806,"""1123945236219215874""","""NASA""",nasa,1393,6656,"[@BlueOrigin‚Äôs, @NASA_Technology-supported]",[#NewShepard],1,2,2019-05-02,13:40:00,-,Video added,Organisation,Technology

##### RE-ORDER THE COLUMNS FOR VISUAL PURPOSES

In [30]:
#Re-organise the columns for visual purposes
Tweets_df = Tweets_df[["Tweet Id", "Name", "Username", "Gender", "Vocation", "Hashtags(#)", "Total #", "Mentions(@)", 
                       "Total @", "Likes", "Retweets", "Images", "Videos", "Date", "Time"]]

##### CORRECT THE INDEX FOR VISUAL PURPOSES

In [31]:
#The original dataframe had an index, so re-arrange the index 
Tweets_df = Tweets_df.set_index('Tweet Id')
#Show the 'shape' of the dataframe
shape = Tweets_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (3807, 14)

In [32]:
#Print the dataframe
Tweets_df

,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time
Tweet Id,,,,,,,,,,,,,,
"""1220149150765002752""","""NASA""",nasa,Organisation,Technology,[],0,[@NOAA/@NASAEarth],1,1192,312,Image added,-,2020-01-23,01:00:01
"""1220126500843814912""","""NASA""",nasa,Organisation,Technology,[#NASASocial],1,[@NASA_Wallops],1,1098,170,Image added,-,2020-01-22,23:30:01
"""1220124092336082946""","""Jim Bridenstine""",jimbridenstine,Organisation,Technology,[],0,"[@NASA_SLS, @NASAStennis]",2,2107,304,Image added,-,2020-01-22,23:20:27
"""1220107625980973056""","""NASA""",nasa,Organisation,Technology,[#Artemis],1,[],0,2888,454,Image added,-,2020-01-22,22:15:01
"""1220092526738247680""","""NASA""",nasa,Organisation,Technology,[],0,[@NASASpitzer],1,3578,662,Image added,-,2020-01-22,21:15:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"""1124018015740289024""","""ISS Research""",iss_research,Organisation,Technology,"[#science, #Dragon]",2,[@SpaceX],1,1725,385,-,Video added,2019-05-02,18:29:12
"""1123965610004758528""","""NASA""",nasa,Organisation,Technology,[#AskNASA],1,"[@NASAKennedy:, @SpaceX,, @NASAKennedy,, @Spac...",5,1147,171,-,Video added,2019-05-02,15:00:58
"""1123959959249661953""","""NASA""",nasa,Organisation,Technology,[#AskNASA],1,"[@SpaceX,, @Space_Station, @45thSpaceWing]",3,2948,426,Image added,-,2019-05-02,14:38:31
"""1123952508920004608""","""NASA""",nasa,Organisation,Technology,[],0,[@Space_Station],1,1699,256,Image added,-,2019-05-02,14:08:54
"""1123945236219215874""","""NASA""",nasa,Organisation,Technology,[#NewShepard],1,"[@BlueOrigin‚Äôs, @NASA_Technology-supported]",2,6656,1393,-,Video added,2019-05-02,13:40:00

##### SAVE DATAFRAME TO CSV

In [33]:
#Save dataframe as csv file
Tweets_df.to_csv('NewDataframes/NASA_df.csv')