In [ ]:
# Doesnt work!! 


# import pymongo

# client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
# mongo_db = client["Tweets_DB"]
# mongo_collection = mongo_db["Combined_Tweets"]

# for x in mongo_collection.find({},{ "_id": 0, "Hashtags(#)": 1, "Identity": "Akshay Kumar"}).limit(10):
#   print(x)
#     dict_result = x.to_dict()

In [7]:
# Set Up PyMongo
import pymongo
import pandas as pd

client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Combined_Tweets"]

# Define A Person to Query
# Searches for non-empty hashtag results 
QueryIdentity = "Jimmy Fallon"
testoutput =  mongo_collection.find( { "Identity": QueryIdentity, "Hashtags(#)": {"$ne" : '[]'} },{ "_id": 0, "Hashtags(#)": 1} ).limit(20)

test_df = pd.DataFrame(list(testoutput))
test_df.head(20)

                                      Hashtags(#)
0                          ['#ThereShouldBeALaw']
1                          ['#ThereShouldBeALaw']
2                          ['#happybirthdaylin"']
3                                        ['#40"']
4                              ['#FallonTonight']
5                        ['#DumbestFamilyFight"']
6                        ['#DumbestFamilyFight.']
7                             ['#FallonTonight"']
8                     ['#FallonTonight', '#NBC"']
9                             ['#FallonTonight"']
10                    ['#RuinAMovieWithOneWord"']
11                    ['#RuinAMovieWithOneWord.']
12             ['#CNNNYE', '#JäGer', '#imagine"']
13                  ['#CNNNYE', '#HappyNewYear"']
14                             ['#FallonTonight']
15                                ['#ThisIsBaby']
16                                       ['#SNL']
17  ['#HappyHolidays', '#GetTheF**kOutOfMyHouse']
18                             ['#JonathanGroff']
19                            ['#FallonTonight"']

In [8]:
# Set up Pandas, Query Atlas for ALL results matching the twitter Identity 

identity_df = pd.DataFrame(list(mongo_collection.find({"Identity": QueryIdentity})))

In [9]:

identity_df.head()

,_id,level_0,index,Tweet Id,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time,Identity
0,60be2af24a7a5d65a6b4f81c,54641,0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3132,236,-,-,2020-01-21,21:14:39,Jimmy Fallon
1,60be2af24a7a5d65a6b4f81d,54642,1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3255,207,-,-,2020-01-21,21:13:52,Jimmy Fallon
2,60be2af24a7a5d65a6b4f81e,54643,2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#happybirthdaylin""']",1,[],0,1825,51,-,-,2020-01-17,15:41:55,Jimmy Fallon
3,60be2af24a7a5d65a6b4f81f,54644,3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,9455,342,Image added,-,2020-01-17,15:36:57,Jimmy Fallon
4,60be2af24a7a5d65a6b4f820,54645,4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,['@peacockTV'],1,658,63,-,-,2020-01-16,22:30:57,Jimmy Fallon

In [10]:
identity_df['Time'] = pd.to_datetime(identity_df["Time"],format='%H:%M:%S')
# mega_df["Time"] = mega_df["Time"].dt.time
identity_df["Date"] = pd.to_datetime(identity_df["Date"],format="%Y-%M-%d")

In [12]:
identity_df.head()

,_id,level_0,index,Tweet Id,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time,Identity
0,60be2af24a7a5d65a6b4f81c,54641,0,"""1219730046694383618""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3132,236,-,-,2020-01-21 00:01:00,1900-01-01 21:14:39,Jimmy Fallon
1,60be2af24a7a5d65a6b4f81d,54642,1,"""1219729849583067136""","""jimmy fallon""",jimmyfallon,Male,Entertainment,['#ThereShouldBeALaw'],1,[],0,3255,207,-,-,2020-01-21 00:01:00,1900-01-01 21:13:52,Jimmy Fallon
2,60be2af24a7a5d65a6b4f81e,54643,2,"""1218196761271054341""","""jimmy fallon""",jimmyfallon,Male,Entertainment,"['#happybirthdaylin""']",1,[],0,1825,51,-,-,2020-01-17 00:01:00,1900-01-01 15:41:55,Jimmy Fallon
3,60be2af24a7a5d65a6b4f81f,54644,3,"""1218195511787782144""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,[],0,9455,342,Image added,-,2020-01-17 00:01:00,1900-01-01 15:36:57,Jimmy Fallon
4,60be2af24a7a5d65a6b4f820,54645,4,"""1217937309410131969""","""jimmy fallon""",jimmyfallon,Male,Entertainment,[],0,['@peacockTV'],1,658,63,-,-,2020-01-16 00:01:00,1900-01-01 22:30:57,Jimmy Fallon

In [14]:
identity_df.groupby(pd.Grouper(key='Date', freq='D'))
identity_df.mean()

<ipython-input-14-bd76446a7742>:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  identity_df.mean()

level_0     56255.500000
index        1614.500000
Total #         0.938390
Total @         1.186068
Likes        5876.751393
Retweets     1264.624768
dtype: float64